<% title "Discover Visual Novels by genres" %>
<% description "Visual novels are sorted by genres in this page. Come join us to start tracking and discovering new visual novels!" %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Search Genres</h2>
		</div>
	
<% @genres.each do |genre| %>
		<% vn = genre.vns.order("RANDOM()").first %>
		<% if vn %>
			<div class="vn-column">
				<%= link_to genre_path(genre) do %>
			<%= image_tag("#{vn.image_poster}",:alt => vn.name, :class=> "vn-index-poster") %>
			<% end %>
				<div class="panel panel-default">
				<div class="panel-body panel-vnindex">
					<a href=<%= genre_path(genre) %>><h4>
					<span class="bottom"><%= genre.name %>
					</span></h4>	</a>	
					<ul class="list-inline vnindex-genre text-left">
						<li class="vngenre-padding inline-nopadding"><i><%= link_to vn.name.truncate(30),vn_path(vn),:style =>"font-size: 1.1em;" %></i></li>
					</ul>
				</div>
				</div>
			</div>
	<% end %>

<% end %>

	</div>
</div>