<% title @genre.name + ' Visual Novel Listings' %>
<% description "Visual novels tagged with #{@genre.name} are found over here. Come join us to start tracking and discovering new visual novels!" %>
<div class="container-fluid">
	<div class="row vnindex-row">
		<div class="col-md-12">
			<h2 class="vnindex-heading"><%= @genre.name%> Visual Novels</h2>
		</div>
	
		<% @vns.each do |vn| %>
<div class="vn-column">
			<%= link_to vn_path(vn) do %>
			<%= image_tag("#{vn.image_poster}",:alt => vn.name, :class=> "vn-index-poster") %>
			<% end %>
	<div class="panel panel-default">
		<div class="panel-body">


		<a href=<%= vn_path(vn) %>><h4><span class="bottom"><%= vn.name%></span></h4>	</a>
			
		</div>
	</div>
</div>

<% end %>

	</div>
</div>