<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2><%= @bracket.name %></h2>
			<%= link_to 'Edit Bracket',edit_bracket_path(@bracket),class:"btn btn-primary" %>
			 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to 'Nominate Item',nominate_bracket_path(@bracket),class:"btn btn-primary" %>
			 <%= link_to 'Initialize Bracket',make_bracket_path(@bracket),class:"btn btn-primary" %>
		</div>
		<div class="col-md-12">
			<p><%= @bracket.details %></p>
		</div>
			<h3>Participants</h3>
		<div class="row">
		<% @characters.each do |character| %>
		
			<div class="col-md-4">
				<%= character.name %>
				<%= image_tag(character.image_url,class:"img-responsive",:style =>"") %>

				<%= link_to 'Crop Image',crop_bracket_path(@bracket,:char_id => character.id),class:"btn btn-primary" %>
				<br><br><br>
			<!-- 	<%= character.details %> -->
			</div>
			
	
		<% end %>
			</div>
	</div>
</div>