<section id="bracket">
<div class="first-bracket">
	<% @characters.each_slice(2) do |slice| %>
		<ul class="bracket-ul-first">
			<% slice.each do |character| %>
			
				<li>

					<h4 class="bracket-name summary-text"><%= character.name %></h4>
					<%= image_tag(character.image,class: "bracket-image") %> 
					<div class="first-bracket-line"></div>

				</li>
			
			<% end %>
		</ul>
	<% end %>
</div>	
<div class="second-bracket">
	<% (1..@second_round_count).each do %>
		<ul class="bracket-ul-second">
			<div class="first-bracket-line-vertical"></div>	
				<%= image_tag("bracket.jpg",class: "secondbracket-image") %>
				<div class="second-bracket-line"></div>
		</ul>
	<% end %>
	
</div>

<div class="third-bracket">
	<% (1..@third_round_count).each do %>
		<ul class="bracket-ul-third">
			<div class="second-bracket-line-vertical"></div>	
			<%= image_tag("bracket.jpg",class: "thirdbracket-image") %>
			<div class="third-bracket-line"></div>
		</ul>
	<% end %>
</div>

<div class="fourth-bracket">
	<% (1..@fourth_round_count).each do %>
		<ul class="bracket-ul-fourth">
			<div class="third-bracket-line-vertical"></div>	
			<%= image_tag("bracket.jpg",class: "fourthbracket-image") %>
			<div class="fourth-bracket-line"></div>
		</ul>
	<% end %>
</div>

<div class="fifth-bracket">
	<% (1..@fifth_round_count).each do %>
		<ul class="bracket-ul-fifth">
			<div class="fourth-bracket-line-vertical"></div>	
			<%= image_tag("bracket.jpg",class: "fifthbracket-image") %>
		</ul>
	<% end %>
</div>
</section>

	