<% title "All Developers for visual novels" %>
<% description "This is a list of all the developers for visual novels in Visualnoveler. Start tracking and discovering other visual novels at Visualnoveler with a growing community" %>

<div class="container">
	<div class="row">
		<h1>All Developers Categories
		</h1>
		<%= form_tag(search_developers_path, :method => "get", class: "",style:"") do %>
		
		 <%= text_field_tag :search, params[:search], class: "customform-input typeahead-developers", placeholder: "Search Developers" %>
	
		<%= button_tag(type: "submit", class: "btn btn-primary",style:"position:relative;top:5px;") do %>
              <i class="fa fa-search 6x"></i>
         <% end %>
		<% end %>
		<% @developers.each do |developer| %>
			<div class="col-md-3" style="padding-bottom:20px;">
				<h4><%= link_to developer.name + "(#{developer.vns.count})", developer_path(developer),style: "color:black;" %></h4>
			</div>
		<% end %>
		<div class="col-md-12">
	 		<%= will_paginate @developers, renderer: BootstrapPagination::Rails %>
	 	</div>
	</div>
</div>