<% title "All Developers for visual novels" %>
<% description "This is a list of all the developers for visual novels in Visualnoveler. Start tracking and discovering other visual novels at Visualnoveler with a growing community" %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>All Developers Categories
			</h1>
			<div class="input-group" id="custom-search-input">
				<%= form_tag(search_developers_path, :method => "get") do %>
				 	<%= text_field_tag :search, params[:search], class: "form-control search-query typeahead-developers", placeholder: "Search Developers" %>
					 <div class="input-group-btn">
		             	<%= button_tag(type: "submit", class: "btn") do %>
		                	<span class=" glyphicon glyphicon-search"></span>
		                <% end %>
		             </div>
				<% end %>
			</div>
		</div>
		<% @developers.each do |developer| %>
			<div class="col-md-3" style="padding-bottom:20px;">
				<h4><%= link_to developer.name + "(#{developer.vns.count})", developer_path(developer),style: "color:black;" %></h4>
			</div>
		<% end %>
		<div class="col-md-12">
	 		<%= will_paginate @developers, renderer: BootstrapPagination::Rails %>
	 	</div>
	</div>
</div>