<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Nominate</h1>
		</div>
	<%= simple_form_for @contest,:url => nominate_update_contest_path,:method => :post do |c| %>

 	 	<%= c.simple_fields_for :contest_characters,@character do |f| %>
			<div class="col-lg-3">
			  <%= f.input :name, input_html: {style: "width:200px;"}, label: 'Name', error: 'Name is mandatory, please specify one',required: false  %>
			 </div>
			 <div class="col-lg-12">
			 	<%= f.input :image, input_html: { hidden: true ,style:"display:none;",class:"file-upload-real" },label: false %>
			 	<%= link_to 'Upload Image','#',class:"file-upload-clicker btn btn-info",style:"margin-bottom:5px;" %>
				<input id="file-upload-text" class="custom-input" type="text" hidden="true">
			 	
			 </div>
			  <div class="col-lg-4">
			 
				<%= f.input :details,:input_html => {:rows => 6},label: 'Biography' %>
			</div>
		<% end %>

		<div class="col-lg-12">
		  <%= c.button :submit , class: "btn btn-primary" %>
		</div>
	<% end %>

	</div>
</div>