<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
  			<div class="panel-body">
  				<h2>Character List <%= link_to "Back",admin_character_path,:class => "h4",:style => "padding-left:25px;color:#337ab7;" %>
				<%= button_to "Delete all?" ,admin_delete_lonely_character_path,class:"btn btn-danger",style: "margin-top:25px;margin-bottom:20px;" %>
			</h2>
		<table class="table">

			<thead><tr>
				<th>Image</th>
				<th>Name</th>
				<th>Visual Novel</th>
				<th>Edit</th>
				<th>Last updated</th>
			</tr></thead>
			<tbody>
			<% @character.each do |character| %>
				<% if character.vns.blank? %>
				<tr>
				<td><%= image_tag(character.img_string.url,:style =>"height:60px;width:50px;") %></td>
				<td><h5><%= character.name %></h5></td>
				<% if !character.vns.blank? %>
				<td><%= character.vns.first.name%></td>
				<% else %>
				<td>Empty</td>
				<% end %>
				<td><%= link_to 'Edit',edit_character_path(character) %></td>
				<td><%= time_ago_in_words(character.updated_at) %></td>
				</tr>
			<% end %> 
			<% end %>
			</tbody>
		</table>
			</div></div>
			<%= will_paginate @character, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
</div>