<div class="container admin-container">
	<div class="row">
		<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="panel panel-default">
  			<div class="panel-body">
  		<div class=" table-responsive">
		<table class="table">
			<h2>Review List</h2>
			<thead><tr>
				<th>Name</th>
				<th>Description</th>
				<th>Edit</th>
				<th>Last updated</th>
			</tr></thead>
			<tbody>
			<% @review.each do |review| %>
			<% vn = review.vn %>
				<tr>
				<td ><%= link_to review.user.name, vn_review_path(vn,review) %> </td>
				<td ><%= review.details.first(50) %></td>
				<td><%= link_to 'Edit',edit_vn_review_path(vn,review) %></td>
				<td><%= time_ago_in_words(review.updated_at) %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
		</div>
			</div></div>
		
			<%= will_paginate @review, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
</div>