<div class="container admin-container">
	<div class="row">
		<div class="col-md-8 ">
			<div class="panel panel-default">
  			<div class="panel-body">
		<table class="table table-responsive">
			<h2>Visual Novel List</h2>
			<h4><%= link_to 'Featured',  admin_vn_featured_path,class:"btn btn-default" %>
				<%= link_to 'Not Featured',  admin_vn_not_featured_path,class:"btn btn-default" %>
				<!--<%= link_to 'No SS',  admin_vn_no_screenshot_path,class:"btn btn-default" %>
				<%= link_to 'No Other SS', admin_vn_other_nil_path,class:"btn btn-default" %> -->
				<%= link_to 'No Review', admin_vn_no_review_path,class:"btn btn-default" %>
				<%= link_to 'No Walkthrough',admin_vn_no_walkthrough_path,class:"btn btn-default" %>
			</h4>
			<thead><tr>
				<th>Name</th>
				<th>Edit</th>
				<th>Last updated</th>
				<th>Featured?</th>
			</tr></thead>
			<tbody>
			<% @vn.each do |vn| %>
				<tr>
				<td><%= link_to vn.name, vn_path(vn) %> </td>
				<td><%= link_to 'Edit',edit_vn_path(vn) %></td>
				<td><%= time_ago_in_words(vn.updated_at) %></td>
				<td><%= vn.isFeatured? ? 'Yes' : 'No' %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
			</div></div>
			
			<%= will_paginate @vn, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
</div>