<% index = character_counter + 1 %>
<div class="col-md-4 col-lg-2 col-xs-4 col-sm-2">
	<!-- max number of characters to display is 12 !-->
	<% if index > @character_display_max %>
		<div class="row equal-height-panels character-row hidden-character">
	<% else %>
		<div class="row equal-height-panels character-row">
	<% end %>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<%= link_to character.img_string.url, :class => 'fancybox', :rel =>'character' do %>
					<% if index > @character_display_max %>
						<img src="<%= character.img_string.url(:thumb)%>" class="img-circle img-thumbnail lazy-char-img">
					<% else %>
						<%= image_tag(character.img_string.url(:thumb),:alt => character.name, :class=> "img-circle img-thumbnail") %>
					<% end %>
				<% end %>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<%= link_to character.name, characters_vn_path(@vn,anchor:character.name.delete(' ')), :class => "h5 vnpage-charname" %> <br>
				<span class="character-role">
					<% if character.role? %>
						<%= character.role %>
					<% else %>
						
					<% end %>
				</span>
				
			</div>
		</div>
</div>
