<div class='nested-fields'>
<h3> Character Creation</h3>
		 <div class="col-md-4">
		 	<%= f.input :name %>
		 </div>
		  <div class="col-md-4">

		 	<%= f.input :voiceactor %>
		 </div>
		  <div class="col-md-4">
		 	<%= f.input :img_string %>
		 </div>
		 <div class="col-md-12">
		 	<%= f.input :summary %>
		 </div>

   	 <%= link_to_remove_association "Remove Character", f,:class => 'btn btn-default'  %>
   	
 </div>