
<div class="row vn-reviewmargins">
	<div class="col-md-2">
		<div class="vn-review-userposter">
			<%= link_to image_tag(review.user.poster_image.url,class: "img-responsive"),user_path(review.user) %>
			<div class="vn-reviewusertextdiv text-center">
				<%= link_to review.user.name,user_path(review.user),class: "vn-reviewtext summary-text" %>
			</div>
		</div>
	</div>
	<div class="col-md-10">
		<%= get_review_icon(review.rating) %>
		<span class="vn-postdate vn-ratingdiv">Score: <%= review.rating%></span>
		<div class="vn-reviewdate pull-right">
			<span class="vn-postdate "><%= time_ago_in_words(review.created_at) %></span>
		</div>
		<div class="vn-reviewdetails">
			<%= markdown(review.details) %>
		</div>
		<% if user_signed_in? %>
		<% if current_user.id == review.user_id %>
		<%= link_to edit_vn_review_path(@vn,review) do %>
		<i class="fa fa-pencil-square-o pull-right"></i>
		<% end %> <% end %> <% end %>
	</div>

</div>
<hr>