<div class="row vn-review-item">
	<div class="col-md-12 col-sm-12 col-xs-12">

		<div class="row">
			<div class="col-md-4 col-xs-6 col-sm-4">
				<% if review.user.poster_image.blank? %>
                  <%= link_to image_tag("default_avatar.jpg",class: "vn-reviewposter img-circle"),user_path(review.user) %> 
               <% else %>
                  <%= link_to image_tag(review.user.poster_image.url,class: "vn-reviewposter img-circle"),user_path(review.user) %> 
               <% end %>
				
				<ul class="list-unstyled list-review">
					<li>
						<%= link_to review.user.name,user_path(review.user),class: "vn-review-postdate vn-review-username" %>
					</li>
					<li>
						<span class="vn-review-postdate"><%= review.created_at.strftime("%B, %d, %Y") %></span>
					</li>
				</ul>
			</div>
			
			<div class="col-md-8 col-xs-6 col-sm-8">
				<ul class="list-unstyled list-review pull-right">
					
					<li>
						<i class="fa fa-lg fa-star" aria-hidden="true"></i>
		 				<%= review.rating %>
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="vn-reviewdetails col-md-12 col-xs-12">
				<%= markdown(review.details.truncate(1400)) %>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<% if review.details.length > 1400 %>
					<%= link_to 'View More',vn_review_path(review.vn,review),class: "btn blue-button" %>
				<% end %>
				<% if user_signed_in? %>
					<% if current_user.id == review.user_id || current_user.admin? || current_user.mod? %>
						<%= link_to 'Edit Review',edit_vn_review_path(@vn,review),class: "btn blue-button pull-right",'data-no-turbolink' =>"true" %>
					<% end %> 
				<% end %>
			</div>
		</div>
		<hr>

	</div>
</div>
