<% title @vn.name + " Character Listings" %>
<% if !@characters.first.blank? %>
<% description "Details of characters in #{@vn.name} such as #{@characters.first.name} are listed in Visualnoveler. Come join us to start tracking and discovering new visual novels!" %>
<% else %>
<% description "Details of characters in #{@vn.name} are listed in Visualnoveler. Come join us to start tracking and discovering new visual novels!" %>
<% end %>
<div class="vncharacter"><div class="container">
	<div class="row">
		<div class="col-md-11">
			<div class="row">
				<div class="panel panel-default"> <div class="panel-body">
					<% if @characters.blank? %>
						<h3>We don't have any character details for <%= @vn.name%> </h3>
						<p>There are no characters pages for <%=@vn.name%> yet. Check back next time or help to contribute to the page!</p>
					<% end %>
					<% @characters.each do |char| %>
					<a name=<%= char.name.delete(' ')%>></a>

					<div class="row vncharacter-section">
						<div class="col-md-3">
							<%= link_to char.img_string.url, :class => 'fancybox', :rel =>'group' do %>
								<%= image_tag("#{char.img_string.url}",:alt => char.name, :class=> "img-responsive") %>
							<% end %>
						</div>
						<div class="col-md-9">
							<h2 class="vn-characterpage-name"><%= char.name %></h2>
							<h4><%= char.role unless char.role == "Not Set" %></h4>
							<span class="summary-text"><%= char.summary %></span>
						</div>
					</div>
					<% end %>
				</div></div>
			</div>
		</div>
	</div>
</div></div>

