<% title "Search Visual Novels" %>
<%= simple_form_for Vn.new,html: {id:"discover-form"}, :method => :get, url: search_vns_path,remote: true do |f| %>

<div class="container">
	<div class="row" style="margin-bottom:25px;">
		<div class="col-xs-12 col-vn-discover-filters">
			<h2>Status</h2>
			<% @status.each do |status| %>
				<div class="radio">
				  <label>
				  	<%= radio_button_tag "vn[status]",status[0],false,class: "sort-checkbox" %>
				  	<%= status[0] %>
				  </label>
				</div>
			<% end %>	
			<h2>Minimum Rating</h2>
			<%= f.input_field :rating_number,class:"rating-discover-vn" %>
			<!-- <h2>Release Date</h2>
			<%= f.input_field :release_date,html5: true  %> -->

			<h2>Genre</h2>
			<% @genres.each do |genre| %>
				<div class="checkbox genre-checkbox">
		    		<label class="checkbox-inline">
		     	 	<%= check_box_tag 'genre_ids[]',genre.id,false,class: "sort-checkbox" %>
					<span style="font-weight:normal;"><%= genre.name %> </span>
		    		</label>
		    	</div>
	    	<% end %>
	    	 
		</div>
		
		<div class="col-xs-12 col-vn-discover-items">
			<h1 style="">Advanced Visual Novel Search </h1>
			<div class="vn-discover-column">
				<%= render :partial => 'layouts/vn_column', collection: @vn,:as => :vn %>
			</div>
		</div>
		
	</div>
</div>

<% end %>