<% title "Search Visual Novels" %>
<% description "Search for a visual novel." %>
<div class="container-fluid">
	<div class="row vnindex-row" style="padding-left:38px;">

		<%= simple_form_for Vn.new, :method => :get, url: search_vns_path do |f| %>
		<div class="col-md-12">
			<h1 style="">Advanced Visual Novel Search </h1>
                <%= text_field_tag :search, params[:search], class: "form-control typeahead", placeholder: "Search Visual Novels",style:"width:300px;" %>
				 <%= f.button :button, class: "btn btn-primary",style:"position:relative;top:0px;" do %>
                  <i class="fa fa-search 6x"></i>
             	 <% end %>


		</div>	
		<div class="col-md-12">
		
			
					<% Genre.all.each do |genre| %>
				    <label class="checkbox-inline">
				      <%= check_box_tag 'genre_ids[]',genre.id %>
						<span style="font-weight:normal;"><%= genre.name %> </span>
				    </label>
					 <% end %>

		<% end %>
	</div>

		<div class="col-md-12">
			<h2 style="margin-top:30px !important;">Random visual novels</h2>
		</div>

		<% @random.each do |vn| %>
		<div class="vn-column" style="margin-bottom:45px;">
			<%= link_to vn_path(vn) do %>
			<%= image_tag("#{vn.image_poster}",:alt => vn.name, :class=> "img-responsive") %>
			<% end %>
			<div class="panel panel-default paneltest"><div class="panel-body panel-vnindex">
			<a href=<%= vn_path(vn) %>><h4>
				<% if vn.name.length > 30 %>
					<span class="bottom" style="font-size:14px !important;"><%= vn.name %>
				<% else %>
					<span class="bottom"><%= vn.name %>
				<% end %>
			</span></h4></a>	
			
		</div>
			</div></div>
		<% end %>	
	</div>
</div>