<% title "Search Visual Novels" %>
<div class="container-fluid">
	<div class="row vnindex-row" style="padding-left:38px;">

		<%= simple_form_for Vn.new, :method => :get, url: search_vns_path do |f| %>
		<div class="col-md-12">
			<h1 style="">Advanced Visual Novel Search </h1>
		</div>
		<div class="col-md-8" style="padding-top:15px;">
			<% @genres.each_slice(6) do |slice| %>
				<div class="row">
					<% slice.each do |genre| %>
						<div class="col-md-2">
				    		<label class="checkbox-inline">
				     	 	<%= check_box_tag 'genre_ids[]',genre.id %>
							<span style="font-weight:normal;"><%= genre.name %> </span>
				    		</label>
				    	</div>
			    	<% end %>
			    </div>
			 <% end %>
		</div>
		<div class="col-md-8" style="padding-top:20px;">
			 <%= f.button :button,"Search Visual Novel", class: "btn btn-primary",style:"" %>
		</div>
		<% end %>

		<div class="col-md-12">
			<h2 style="margin-top:30px !important;">Random visual novels</h2>
		</div>

		<% @random.each do |vn| %>
		    	<div class="vn-column">
		    		<%= link_to vn_path(vn) do %>
						<%= image_tag(vn.image_poster,:alt => vn.name, :class=> "vn-index-poster") %>
					<% end %>
					<div class="vn-column-data">
						<a href=<%= vn_path(vn) %>> <h4>
							<% if vn.name.length > 30 %>
								<span class="vn-poster-name"><%= vn.name %>
							<% else %>
								<span class="vn-poster-name"><%= vn.name %>
							<% end %>
						</h4></a>
					</div>
		    	</div>
		    <% end %>
	</div>
</div>