<% title "Search Visual Novels" %>
<%= simple_form_for @vn, :method => :get, url: search_vns_path do |f| %>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-vn-discover-filters">
			<h2>Status</h2>
			<% @status.each do |status| %>
				<div class="radio">
				  <label>
				  	<%= radio_button_tag "vn[status]",status[0] %>
				  	<%= status[0] %>
				  </label>
				</div>
			<% end %>	
			<h2>Minimum Rating</h2>
			<%= f.input_field :rating_number %>
			<!-- <h2>Release Date</h2>
			<%= f.input_field :release_date,html5: true  %> -->

			<h2>Genre</h2>
			<% @genres.each do |genre| %>
				<div class="checkbox genre-checkbox">
		    		<label class="checkbox-inline">
		     	 	<%= check_box_tag 'genre_ids[]',genre.id %>
					<span style="font-weight:normal;"><%= genre.name %> </span>
		    		</label>
		    	</div>
	    	<% end %>
	    	 <%= f.button :button,"Search Visual Novel", class: "btn btn-primary",style:"margin-top:14px;" %>
			 
		</div>
		
		<div class="col-xs-12 col-vn-discover-items">
			<h1 style="">Advanced Visual Novel Search </h1>
			<% @random.each do |vn| %>
		    	<div class="vn-column">
		    		<%= link_to vn_path(vn) do %>
						<%= image_tag(vn.image_poster,:alt => vn.name, :class=> "vn-index-poster") %>
					<% end %>
					<div class="vn-column-data">
						<a href=<%= vn_path(vn) %>> 
						<h4>
							<% if vn.name.length > 30 %>
								<span class="vn-poster-name"><%= vn.name %>
							<% else %>
								<span class="vn-poster-name"><%= vn.name %>
							<% end %>
						</h4></a>
					</div>
		    	</div>
			<% end %>
		</div>
		
	</div>
</div>

<% end %>