<% title "Edit #{@vn.name} Translation" %>
<div class="container">
	<div class="row">
		<h2>
			<%= @vn.name %> Translation	
		</h2>
		<%= simple_form_for @vn do |f| %>
			<%= f.simple_fields_for :translation do |t| %>
				<div class="col-md-4">
					<%= t.input :website %>
				</div>
				<div class="col-md-9">
					<%= t.input :content,input_html: {rows: 10} %>
				</div>
			<% end %>
			<%= f.simple_fields_for :translation_posts do |c| %>

				 <%= render 'translation_post_fields', :f => c %>
				

			<% end %>
			<div class="row">
				 <div class='col-md-12 links' style="margin-left:15px;">
	      			<%= link_to_add_association 'Add Post', f, :translation_posts,:class => 'btn btn-default' %>
	   			 </div>
   			 </div>
   			 <div class="col-md-12">
   			 	<%= f.submit 'Update Translation Status' , class: "btn btn-primary",data:{ disable_with: "Updating..."},style: "margin-top:25px;" %>
   			 </div>
		<% end %>
	</div>
</div>

