<% title "Edit #{@vn.name} Walkthrough" %>
<div class="container">
	<div class="row row-upperpadding" style="padding-bottom:20px;">
		<h2>
			<%= @vn.name %> Walkthrough 	
			<%= link_to image_path("markdown.png"), :class => 'fancybox', :rel =>'?' do %>
			   <i class="fa fa-question-circle"></i>
			<% end %>
		</h2>
		<%= simple_form_for @vn do |f| %>
			<div class="col-md-6 removepadding">
				<%= f.input :walkthrough_content,:input_html => {:rows => 30,id: "markdown"},label: false %>
			</div>
			<%= f.hidden_field :reroute,value: "edit_walkthrough" %>
			<div class="col-md-6 removepadding"> 
		 		<div class="panel panel-default">
					<div id="preview" class="panel-body" style=" height: 610px;"> </div>
				</div>
			</div>
			<div class="col-md-12">
				<%= f.submit 'Update Walkthrough' , class: "btn btn-primary",data:{ disable_with: "Updating..."} %>
			</div>
		<% end %>
	</div>
</div>
