<% title "Edit #{@vn.name}" %>

<div class="container">
	<%= simple_form_for @vn, html: { multipart: true }  do |f| %>
		<div class="row">
			<div class="col-md-12">
				<h1>Edit <%= @vn.name %></h1>
				<div class="row">
					<div class="col-md-3">
					  <%= f.input :name, input_html: {style: "width:200px;"}, label: 'Name of Visual Novel', error: 'Name is mandatory, please specify one' %>
					 </div>
					 <div class="col-md-3">
					  <%= f.input :alias, input_html: {style: "width:200px;"}, label: 'Alias of Visual Novel' %>
					 </div>
					 <div class="col-md-5" style="padding-top:25px;">
					 	<%= link_to 'Edit Walkthrough',edit_walkthrough_vn_path(@vn),class:"btn btn-primary" %>
					 	<%= link_to 'Edit Translation',edit_translation_vn_path(@vn),class:"btn btn-primary",style:"margin-left:25px;" %>
					 </div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<%= f.association :genres, as: :check_boxes %> 
					</div>

					<div class="col-md-3">
						<%= f.association :publishers, as: :check_boxes %> 
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<%= f.input :status %> 
					</div>
					<div class="col-md-2">
				  		<%= f.input :rating_number %>
				  	</div>
					<div class="col-md-2">
						<%= f.association :developer,collection: @developers,input_html: {class:"selectpicker",'data-live-search' => true} %> 
					</div>
					<div class="col-md-2">
						<%= f.association :franchise,input_html: {class:"selectpicker",'data-live-search' => true} %> 
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
					  <%= f.input :release_date,start_year: @start_year,end_year: @end_year,prompt: "Unknown" %>
					</div>
					<div class="col-md-4">
					  <%= f.input :trailer_url %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
				  		<%= f.input :summary,input_html: {style: "height:150px;"} %>
				  	</div>
				</div>
				<div class="row">
					<div class="col-md-2">
					 	<%= f.input :image_poster %>
			  			<%= image_tag f.object.image_poster.url, :class => "img-responsive" if f.object.image_poster? %>
					</div>
				  	<div class="col-md-2">
			  			<%= f.input :image_coverpage %>
			  			<% if f.object.image_coverpage? %>
				  			<label> 
				  				<%= f.check_box :remove_image_coverpage %>
				  				Remove Cover Image
				  			</label>
				  			<%= image_tag f.object.image_coverpage.url, :class => "img-responsive" %>
				  		<% end %>
				 	</div>
					<div class="col-md-2">
				 		<%= f.input :image_1,label: "Screenshot 1" %>
		  				<%= image_tag f.object.image_1.url, :class => "img-responsive" if f.object.image_1? %>
					</div>
					<div class="col-md-2">
					 	<%= f.input :image_2,label: "Screenshot 2" %>
			  			<%= image_tag f.object.image_2.url, :class => "img-responsive" if f.object.image_1? %>
					</div>
					<div class="col-md-2">
					 	<%= f.input :image_3,label: "Screenshot 3"%>
			  			<%= image_tag f.object.image_3.url, :class => "img-responsive" if f.object.image_1? %>
					 </div>
					 <div class="col-md-2">
					 	<%= f.input :image_4,label: "Screenshot 4" %>
			  			<%= image_tag f.object.image_4.url, :class => "img-responsive" if f.object.image_1? %>
					 </div>
				  	<div class="col-md-12">
				 		<%= f.input :isFeatured %>
				 	</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label>Purchase Links</label>
					</div>
					<div class="col-md-2">
						<%= f.input :buy_1 %>
					</div>

					<div class="col-md-2">
						<%= f.input :buy_2 %>
					</div>
					<div class="col-md-2">
						<%= f.input :buy_3 %>
					</div>
					<div class="col-md-2">
						<%= f.input :buy_4 %>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>Characters</h2>
					<%= f.simple_fields_for :characters,f.object.characters.priority_order do |char| %>
						<div class="row">
							<div class="col-md-4">
					 			<%= char.input :name %>
							</div>
							 <div class="col-md-2">
							 	<%= char.input :img_string %>
							 </div>
							 <div class="col-md-2">
							 	<%= image_tag char.object.img_string.url, :class => 'character-edit-thumbnail' if char.object.img_string? %>
							 </div>
							<div class="col-md-2">
						 		<%= char.input :role %>
						 	</div>
							<div class="col-md-10">
								<%= char.input :summary,input_html: {style: "height:150px;"}%>
							</div>
						</div>
					 
					<% end %>
			</div>
		</div>

		<div class="row">
			<div class='links col-md-3'>
		    	<%= link_to_add_association 'Add Character', f, :characters,:class => 'btn btn-default' %>
		   	</div>
		</div>

		<div class="row" style="padding-top:25px; padding-bottom:30px;">
			<div class="col-md-4">
				<%= f.button :submit , class: "btn btn-primary",data:{ disable_with: "Updating..."} %>
			</div>

		<% end %>
			<div class="col-md-2 pull-right">
				<% if current_user.admin? %>
					<%= button_to @vn,:method=>:delete,:class =>"btn btn-danger pull-right", style:"",data:{ disable_with: "Deleting Visual Novel..",confirm: "Are you sure?"} do %>
				 	<i class="fa fa-trash-o"></i>
					<% end %>
				<% end %>
			</div>
		</div>
</div>



		
