<% title "Visual Novels listing" %>
<div class="container-fluid">
	<div class="row">

		<div class="col-md-12">
			<h2 class="vnindex-heading">Featured</h2>
		</div>
	
<% @vn.each do |vn| %>

<div class="vn-column">

			<%= image_tag("#{vn.image_poster}",:alt => "thumbsup", :class=> "vn-index-poster") %>
	
	<div class="panel panel-default">
		<div class="panel-body">


  				<h4><span class="bottom"><%= vn.name%></span></h4>	

			<ul class="list-inline vnindex-genre text-left">
					<% vn.genres.each do |genre| %>
						<li class="vngenre-padding inline-nopadding"><%= link_to genre.name,genre_path(genre) %></li>
					<% end %>
				</ul>
			
		</div>
	</div>
</div>

<% end %>

	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<h2 class="vnindex-heading">Random</h2>

	
<% @random.each do |vn| %>

<div class="vn-column">

			<%= image_tag(vn.image_poster,:alt => "thumbsup", :class=> "img-responsive") %>
	
	<div class="panel panel-default paneltest">
		<div class="panel-body">


		<h4><span class="bottom"><%= vn.name%></span></h4>	


				<ul class="list-inline vnindex-genre text-left">
					<% vn.genres.each do |genre| %>
						<li class="vngenre-padding inline-nopadding"><%= link_to genre.name,genre_path(genre) %></li>
					<% end %>
				</ul>
			
			
		</div>
	</div>
</div>

<% end %>
	</div>
</div>