<div class="container-fluid">
	<div class="row">
			<div class="twittercover" style="background-image:url(<%= asset_path "#{@vn.image_coverpage.url}" if @vn.image_coverpage? %>)">
			
	</div>


</div>
</div>


<section id="vn-item">
<div class="container vn-show-padding">
	<div class="row">
	
		<div class="col-lg-3">
				<div class="panel panel-default">
  <div class="panel-body">
			<%= image_tag("#{@vn.image_poster.url}",:alt => "thumbsup", :class=> "vn-poster") %>
			<span class="genre-text vn-contentpadding">Genre: nothing </span>
			<br>
			<span class="genre-text vn-contentpadding ">Developer: <%= @vn.developer %> </span>
			<br>
			<span class="genre-text vn-contentpadding">Release Date: <%= @vn.release_date %> </span>
			<br>
		</div>
	</div>
		</div>
		<div class="col-lg-9 col-md-9">
			 <span class="vn-name text-primary vn-contentpadding"><%= @vn.name %> </span>
			  <% if user_signed_in? %>
				<% if current_user.favourites.exists?(id: @vn.id) %>
					<%= link_to '<i class="fa fa-times fa-2x"></i>'.html_safe, favourite_vn_path(@vn, type: "unfavourite"), method: :put %>
				<% else %>
				<%= link_to '<i class="fa fa-heart-o fa-2x"></i>'.html_safe, favourite_vn_path(@vn, type: "favourite"), method: :put %>
				<% end %>
			  <% end %> 
			<a href=<%= edit_vn_path(@vn) %> class="a-inherit" data-no-turbolink="true">
 			<%= fa_icon "pencil 2x" %>
 			</a>
			 <hr>
			
			
			<span class="vn-contentpadding summary-text"><%= @vn.summary %> </span>
			 <div class="vn-thumbnail-img">
			 	<div class="row">
			 		<div class="col-md-3">
					 <%= image_tag("#{@vn.image_1.url}",:alt => "screenshot 1", :class=> "vn-thumbnail img-thumbnail  ") %>
			 		</div>


			 		<div class="col-md-3">
					 <%= image_tag("#{@vn.image_2.url}",:alt => "screeshot 2", :class=> "vn-thumbnail img-thumbnail ") %>
					</div>

			 		<div class="col-md-3">
					 <%= image_tag("#{@vn.image_3.url}",:alt => "screenshot 3", :class=> "vn-thumbnail img-thumbnail ") %>
					</div>
			 		<div class="col-md-3">
					 <%= image_tag("#{@vn.image_4.url}",:alt => "screenshot 4", :class=> "vn-thumbnail img-thumbnail ") %>
					</div>

			</div>
		</div>

		
	</div>
</div>  <!-- end of container -->

<div class="container">
	<div class="row">
		<div class="col-md-12">

		<h3>Characters</h3>
	</div>
			<% @showcharacters.each	 do |char| %>
		<div class="col-md-2">
			<div class="row">
				<div class="col-md-6 adjustcharacter">
				<%= link_to image_tag("#{char.img_string}",:alt => "thumbsup", :class=> "vn-char img-thumbnail"), character_path(char)  %>

				</div>
				<div class="col-md-6">
				<a href=<%= character_path(char) %>>
				<h5 class="adjustcharactername"><%= char.name %></h5>
				</a>
			</div>
			</div>
		</div>
		<!-- 	<p><%= char.summary %></p> -->

			<% end %>
		</div>
	</div>
</div>

</section>