<% title @vn.name %>
<% description @vn.summary.first(150) %>
<div class="container-fluid">
	<div class="row">
	
			<div class="twittercover" style="background-image:url(<%= asset_path "#{@vn.image_coverpage.url}" if @vn.image_coverpage? %>)">
			<% if user_signed_in? && current_user.admin? %>
			<%= link_to 'Crop',crop_vn_path,:class =>"ghost-buttonimg text-center",:style =>"text-decoration:none;" %>
			<%= link_to 'Add Screenshots',screenshots_vn_path,:class =>"ghost-buttonimg text-center",:style =>"text-decoration:none" %>
			
			<% end %>
		</div>
	</div>
</div>

<section id="vn-item">
<div class="container vn-show-padding">
	<div class="row">
	
		<div class="col-lg-3">
			<div class="panel panel-default">
  			<div class="panel-body panel-vnshow">

 			<%= link_to edit_vn_path(@vn),:class => "btn ghost-buttonimg vn-buttonedit", 'data-no-turbolink' =>"true" do %>
				<i class="fa fa-pencil"></i>
			<% end %>
 			<% if user_signed_in? %>
			<% if current_user.library_entries.exists?(vn_id: @vn.id,favourite: true) %>
 			<%= link_to favourite_vn_path(@vn, type: "unfavourite"), method: :put,:class => "btn ghost-buttonimg vn-button" do %>
				<i class="fa fa-times"></i>
			<% end %>
			<% else %>
			<%= link_to favourite_vn_path(@vn, type: "favourite"),:class => "btn ghost-buttonimg vn-button", method: :put do %>
				<i class="fa fa-heart"></i>
			<% end %>
				<% end %>
			  <% end %> 
			<%= image_tag("#{@vn.image_poster.url}",:alt => "@vn.name", :class=> "vn-poster") %>

			<% if !@vn.trailer_url.blank? %>
			<%= link_to @vn.trailer_url, :class => "vn-youtube fancyframe" do %>
			<div class="bgtest">
				<i class="fa fa-youtube-play fa-3x dd"></i>
			</div>
			<% end %> <% end %>

			<span class="vn-contentpadding">
				<ul class="list-inline">
					<% @vn.genres.each do |genre| %>
						<li class="vngenre-padding inline-nopadding"><%= link_to genre.name,genre_path(genre),:class =>"vn-genre summary-text" %></li>
					<% end %>
				</ul>
			</span>
			<span class="vn-contentpadding "><span class="vn-label">Developer:</span> <% if @vn.developer %><%= link_to @vn.developer.name, developer_path(@vn.developer) %> </span>
			<br> <% end %>
			<span class="vn-contentpadding"><span class="vn-label">Release Date:</span> <%= @vn.release_date %> </span>
			<br>
		</div>
	</div>
		</div>
		<div class="col-lg-9 col-md-9">
			 <span class="h3 vn-contentpadding"><%= @vn.name %> </span>
			  
 			<span class="default-text vn-score">Score: <%= @vn.rating_number%> </span>
 			<!-- start of buttons -->
 			<div class="pull-right">
 				
			  <% if user_signed_in? %>

 			<div class="btn-group status-dropdown" role="group">
   			 <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i>
      			Status
     		 <span class="caret"></span>
   			 </button>
   			 <ul class="dropdown-menu">
				<% if current_user.library_entries.exists?(vn_id: @vn.id,status: "watch") %> 
			     	<li class="list-group-item-info"> <% else %> <li>
			    <% end %>
		 			<%= link_to "Playing", status_vn_path(@vn, type: "watch"), method: :post %>
		 		</li>

		      <% if current_user.library_entries.exists?(vn_id: @vn.id,status: "wishlist") %> 
			     	<li class="list-group-item-info"> <% else %> <li>
			    <% end %>
		 			<%= link_to "Wishlist", status_vn_path(@vn, type: "wishlist"), method: :post %>
		 		</li>

		        <% if current_user.library_entries.exists?(vn_id: @vn.id,status: "drop") %> 
			     	<li class="list-group-item-info"> <% else %> <li>
			    <% end %>
		 			<%= link_to "Dropped", status_vn_path(@vn, type: "drop"), method: :post %>
		 		</li>

		 		 <% if current_user.library_entries.exists?(vn_id: @vn.id,status: "complete") %> 
			     	<li class="list-group-item-info"> <% else %> <li>
			    <% end %>
		 			<%= link_to "Completed", status_vn_path(@vn, type: "complete"), method: :post %>
		 		</li>
		    </ul>
  			</div>
  			<div class="btn-group" role="group">
  				<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-star"></i>
  					Rate
  					<span class="caret"></span>
  				</button>
  				<ul class="dropdown-menu">
  					
  					 <% if current_user.library_entries.exists?(vn_id: @vn.id,rating: "10") %> 
			     		<li class="list-group-item-info"> <% else %> <li>
			   		 <% end %>
  					<%= link_to 'Perfect', rate_vn_path(@vn, rating: "perfect"), method: :put %></li>
  					 <% if current_user.library_entries.exists?(vn_id: @vn.id,rating: "8") %> 
			     		<li class="list-group-item-info"> <% else %> <li>
			   		 <% end %>
  					<%= link_to 'Great', rate_vn_path(@vn, rating: "great"), method: :put %></li>

  					 <% if current_user.library_entries.exists?(vn_id: @vn.id,rating: "6") %> 
			     		<li class="list-group-item-info"> <% else %> <li>
			   		 <% end %>
  					<%= link_to 'Good', rate_vn_path(@vn, rating: "good"), method: :put %></li>

  					 <% if current_user.library_entries.exists?(vn_id: @vn.id,rating: "4") %> 
			     		<li class="list-group-item-info"> <% else %> <li>
			   		 <% end %>
  					<%= link_to 'Awful', rate_vn_path(@vn, rating: "awful"), method: :put %></li>
  				</ul>
  			</div>

 				<% end %>
 				<!--  end of buttons -->
			</div>
	 <hr>
			
			
			<span class="vn-contentpadding summary-text"><%= @vn.summary %> </span>
			 <div class="vn-thumbnail-img">
			 	<div class="row">
			 		<div class="col-md-3">
			 		<%= link_to @vn.image_1.url, :class => 'fancybox', :rel =>'group' do %>
					 <%= image_tag("#{@vn.image_1.url(:thumb)}",:alt => "screenshot 1", :class=> "vn-thumbnail img-thumbnail") %>
					 <% end %>
			 		</div>

			 		<div class="col-md-3">
					 <%= link_to @vn.image_2.url, :class => 'fancybox', :rel =>'group' do %>
					 <%= image_tag("#{@vn.image_2.url(:thumb)}",:alt => "screenshot 2", :class=> "vn-thumbnail img-thumbnail") %>
					 <% end %>
					</div>

			 		<div class="col-md-3">
					<%= link_to @vn.image_3.url, :class => 'fancybox', :rel =>'group' do %>
					 <%= image_tag("#{@vn.image_3.url(:thumb)}",:alt => "screenshot 3", :class=> "vn-thumbnail img-thumbnail") %>
					 <% end %>
					</div>
			 		<div class="col-md-3">
					 <%= link_to @vn.image_4.url, :class => 'fancybox', :rel =>'group' do %>
					 <%= image_tag("#{@vn.image_4.url(:thumb)}",:alt => "screenshot 4", :class=> "vn-thumbnail img-thumbnail") %>
					 <% end %>
					</div>

			</div>
		</div>

		
	</div>
</div>  <!-- end of container -->

</section>

<section id="vn-character">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<a href=<%= characters_vn_path(@vn) %>><h3>Characters</h3> </a>
		</div>
			<% @showcharacters.each_slice(6) do |charRow| %>

		<div class="row">
			<% charRow.each do |char| %>
		<div class="col-md-2 removecharacterpadding">
				<div class="col-md-6 adjustcharacter">
					<%= link_to char.img_string.url, :class => 'fancybox', :rel =>'character' do %>
						 <%= image_tag("#{char.img_string.url(:thumb)}",:alt => "#{char.name}", :class=> "vnchar-img img-thumbnail") %>
					<% end %>
				</div>
				<div class="col-md-6">
					<%= link_to char.name, characters_vn_path(@vn,anchor:char.name.delete(' ')), :class => "h5" %>
				</div>
			
		</div> 
		<% end %> 
		</div>
			<% end %>
		</div>
	</div>
</div>
</section>


<section id = "review">
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h3> Reviews</h3>
			<div class="panel panel-default">
 			<div class="panel-body">
 				<ul class="nav nav-tabs" role="tablist">
 					<li role="presentation" class="active"><a href="#recent" aria-controls="recent" role="tab" data-toggle="tab">Recent</a></li>
 					<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Positive</a></li>
 					<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Negative</a></li>
 					<li role="presentation"><a href="#write" aria-controls="settings" role="tab" data-toggle="tab">Write a Review</a></li>
 				</ul>
 			<div class="row"> 
 				<div class="tab-content">
			
			    <div role="tabpanel" class="tab-pane fade in active" id="recent">
			    	  <%= render :partial => 'review', :collection => @recent_reviews  %>
					  <%= will_paginate @recent_reviews, renderer: BootstrapPagination::Rails %>

			    </div>
			    <div role="tabpanel" class="tab-pane" id="messages">
			    	  <%= render :partial => 'review', :collection => @positive_reviews  %>
					 <%= will_paginate @positive_reviews, renderer: BootstrapPagination::Rails %>
				</div>

			    <div role="tabpanel" class="tab-pane" id="settings">
			       	 <%= render :partial => 'review', :collection => @negative_reviews  %>
					 <%= will_paginate @negative_reviews, renderer: BootstrapPagination::Rails %>
			    </div>

			    <div role="tabpanel" class="tab-pane" id="write">
			    <% if user_signed_in? %>
			    <h4 style="margin-top:0px; margin-bottom:20px;">Write a review for <%= @vn.name%>
			    	<%= link_to image_path("markdown.png"), :class => 'fancybox', :rel =>'?' do %>
			     <i class="fa fa-question-circle"></i>
			     <% end %>
			 	</h4>
			    <%= simple_form_for @vn do |f| %>
			     <%= f.simple_fields_for :reviews,@vn.reviews.build do |r| %>
			     	<div class="row">
			     	<div class="col-md-2">
			     		<div class="vn-review-userposter">
			     			<%= display_avatar(current_user,"img-responsive") %>
			     		</div>
			     	</div>
			     	<div class="col-md-10">
			     	<%= r.input :details, :as => :text, required: true,input_html: {:rows => 10 ,:style => "resize:vertical;"} %>
			     	</div>
			     	<div class="col-md-10 col-md-offset-2">
			     		<%= r.input :rating,:as => :radio_buttons, collection: 0..10,item_wrapper_class: "radiobox-inline",:label_html => {:class =>"radio-ratinglabel"},:required => false %>
			     		 <%= f.button :submit , class: "btn btn-success pull-right vn-reviewbutton",data:{ disable_with: "Posting.."} %>
						<%= r.hidden_field :user_id,value: current_user.id %>
			     	</div>
			     	</div>
			     <% end %>
			    <% end %>
			    </div>
			    <% end %>



			  </div>
			</div>
		
		</div></div> <!-- panels !-->
<!-- col 8 !-->
		</div>
</div></div>
</section>

<div class="container ">
	<div class="row otherss-padding">
		<div class="col-md-12">
		<h3>Other Screenshots</h3>
		<% @screenshots.each do |ss| %>
			<div class="col-md-3">
			<%= link_to ss.image.url, :class => 'fancybox', :rel =>'ss' do %>
						 <%= image_tag(ss.image.url(:thumb),:alt => @vn.name, :class=> "img-thumbnail") %>
					<% end %>
		</div>
		<% end %>
	</div>
	</div>
</div>

