<% title @vn.name %>
<% description (@vn.name + " - " + @vn.summary) %>
<% image_url @vn.image_poster.url %>
<% if @vn.image_coverpage.blank? %>
	<% if user_signed_in?  %>
			<% if current_user.admin? || current_user.mod? %>
			<div class="container">
			<%= link_to 'Crop',crop_vn_path,:class =>"btn blue-button text-center",:style =>"text-decoration:none;" %>
			<%= link_to 'Add Screenshots',screenshots_vn_path,:class =>"btn blue-button text-center",:style =>"text-decoration:none" %>
			</div>
			<% end %>
	<% end %>
<% else %>

		<div class="twittercover" style="background-image:url(<%= asset_path "#{@vn.image_coverpage.url}" if @vn.image_coverpage? %>)">
		<% if user_signed_in?  %>
		<% if current_user.admin? || current_user.mod? %>
		<%= link_to 'Crop',crop_vn_path,:class =>"ghost-buttonimg text-center",:style =>"text-decoration:none;" %>
		<%= link_to 'Add Screenshots',screenshots_vn_path,:class =>"ghost-buttonimg text-center",:style =>"text-decoration:none" %>
		<% end %>
		<% end %>
		</div>
	

<% end %>

<section id="vn-item">
<div class="container vn-show-padding">
	<div class="row">
	
		<div class="col-lg-3" style="position:relative;">
			<% if user_signed_in? %>
 				<%= link_to edit_vn_path(@vn),:class => "btn ghost-buttonimg vn-buttonedit visible-lg-block", 'data-no-turbolink' =>"true" do %>
				<i class="fa fa-pencil"></i>
			<% end %>
			<% end %>
			<div id ="vn-favourite">
 				<%= render 'favourite_ajax',locals:{vn: @vn} %>
			</div>
			<%= image_tag("#{@vn.image_poster.url}",:alt => "#{@vn.name}", :class=> "img-responsive") %>

			<%= render 'vn_item_panel' ,locals: {vn: @vn}%>
		</div>
		<div class="col-lg-9 col-md-9">
			<% if @vn.name.length > 30 %>
			 	<h1 style="font-size:19px !important;"><%= @vn.name %> </h1>
			<% else %>
			 	<h1><%= @vn.name %> </h1>
			 <% end %>
			  
 			<span class="default-text vn-score">
 				Score: <%= @vn.rating_number%> 

 			</span>
 			<!-- start of buttons -->
 			<div class="vn-pull-right">
			 <% if user_signed_in? %>
				<div class="btn-group status-dropdown" role="group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i>
			      			Status
			   			<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" id="vn-status">
			 			<%= render 'status_ajax',locals:{vn: @vn} %>
 					</ul>
				</div>
	  			<div class="btn-group" role="group">
	  				<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-star"></i>
	  					Rate
	  					<span class="caret"></span>
	  				</button>
	  				<ul class="dropdown-menu" id="vn-rate">
	  					<%= render 'rate_ajax',locals:{vn:@vn} %>
	  				</ul>
	  			</div>
 			<% end %>
 				<!--  end of buttons -->
		</div>
	 	<hr>
			
			
			<span class="summary-text"><%= @vn.summary %> </span>
			 <div class="vn-thumbnail-img">
			 	<div class="row">
			 		<div class="col-md-3">
			 		<% unless @vn.image_1.blank? %>
			 		<%= link_to @vn.image_1.url, :class => 'fancybox', :rel =>'group' do %>
					 <%= image_tag("#{@vn.image_1.url(:thumb)}",:alt => "#{@vn.name} screenshot 1", :class=> "img-thumbnail") %>
					 <% end %>
			 		</div> <% end %>

			 		<div class="col-md-3">
			 		<% unless @vn.image_2.blank? %>
					 <%= link_to @vn.image_2.url, :class => 'fancybox', :rel =>'group' do %>
					 <%= image_tag("#{@vn.image_2.url(:thumb)}",:alt => "#{@vn.name} screenshot 2", :class=> "img-thumbnail") %>
					 <% end %>
					</div> <% end %>

			 		<div class="col-md-3">
			 		<% unless @vn.image_3.blank? %>
					<%= link_to @vn.image_3.url, :class => 'fancybox', :rel =>'group' do %>
					 <%= image_tag("#{@vn.image_3.url(:thumb)}",:alt => "#{@vn.name} screenshot 3", :class=> " img-thumbnail") %>
					 <% end %>
					</div> <% end %>

			 		<div class="col-md-3">
			 		<% unless @vn.image_4.blank? %>
					 <%= link_to @vn.image_4.url, :class => 'fancybox', :rel =>'group' do %>
					 <%= image_tag("#{@vn.image_4.url(:thumb)}",:alt => "#{@vn.name} screenshot 4", :class=> "img-thumbnail") %>
					 <% end %>
					</div> <% end %>

				</div>
			</div>
		
	</div>
</div>  <!-- end of container -->

</section>

<section id="vn-character">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<a href=<%= characters_vn_path(@vn) %>><h3>Characters</h3> </a>
			</div>
		</div>
		<div class="row">
			<%= render partial:'character_vn_page',collection: @characters, as: :character %>
		</div>

		<% if @characters_show_more %>
			<div class="col-md-12 text-center">
				<h5 class="special-links">
					<%= link_to 'View More Characters','#',id: "more-characters" %>
				</h5>
			</div>
		<% end %>
	</div>
</section>


<section id="franchise-related">
<div class="container">
	<div class="row">
		<% unless @franchise.blank? %>
			<div class="col-md-6 col-xs-12">
				<%= render 'franchise',franchises: @franchise %>
			</div>
		<% end %>
		<!-- TO-DO, include something here next time, recommendations? !-->
	</div>
</div>
</section>	

<section id = "review" style="margin-top:30px;">
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="portlet">
				<div class="portlet-title">
				<div class="row">
					<div class="caption col-md-6 col-sm-6 col-lg-7 col-xs-12">
						<% if @recent_reviews.blank? %>
							<% if @vn.name.length > 40 %> 
								<h3 class="caption-subject">Reviews</h3>
							<% else %>
								<h3 class="caption-subject"> <%= @vn.name %> Reviews</h3>
							<% end %>
						<% else %>
							<% if @vn.name.length > 40 %> 
								<h3 class="caption-subject"><%= link_to "Reviews",vn_reviews_path(@vn) %></h3>
							<% else %>
								<h3 class="caption-subject"> <%= link_to @vn.name + " Reviews",vn_reviews_path(@vn) %> </h3>
							<% end %>
						<% end %>
					</div>
					<div class="actions col-md-6 col-sm-6 col-lg-5 col-xs-12 mobile-review-tab">
						<ul class="btn-group mobile-review-buttongroup list-inline" data-toggle="buttons">
							<a href="#recent" aria-controls="recent" role="tab" data-toggle="tab" class="btn grey-salsa active">Recent</a>
							<a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="btn grey-salsa">Positive</a>
							<a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" class="btn grey-salsa">Negative</a>
							<a href="#write" aria-controls="settings" role="tab" data-toggle="tab" class="btn grey-salsa">Write a Review</a>
						</ul>
					</div>
				</div>
				</div>
 			<div class="portlet-body">
 			<div class="row"> 
 				<div class="tab-content">
			
			    <div role="tabpanel" class="tab-pane fade in active" id="recent">
			    	  <% unless @recent_reviews.blank? %>
				    	  <%= render :partial => 'review', :collection => @recent_reviews  %>
				    	  <!-- SHOW ALL REVIEWS !-->
					  <% else %>
					  <h4><i class="fa fa-magic fa-2x" style="color:#000080;"></i> No Reviews</h4>
					  <p>Nobody has written a review for <b><%= @vn.name %></b> yet. Come and write a review about <%= @vn.name %> to let the community know of your thoughts!</p>
					  <% end %>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="messages">
			    	  <%= render :partial => 'review', :collection => @positive_reviews  %>
				</div>

			    <div role="tabpanel" class="tab-pane" id="settings">
			       	 <%= render :partial => 'review', :collection => @negative_reviews  %>
			    </div>

			    <div role="tabpanel" class="tab-pane" id="write">
			    <% if user_signed_in? %>
			    <h4 style="margin-top:0px; margin-bottom:20px;">Write a review for <%= @vn.name%>
			    	<%= link_to image_path("markdown.png"), :class => 'fancybox', :rel =>'?' do %>
			     <i class="fa fa-question-circle"></i>
			     <% end %>
			 	</h4>
			 
			     <%= simple_form_for ([@vn,@vn.reviews.build]) do |f| %>
			     	<div class="row">
				     	<div class="col-md-2">
				     		<div class="vn-review-userposter">
				     			<%= display_avatar(current_user,"img-responsive") %>
				     		</div>
				     	</div>
				     	<div class="col-md-10">
				     	<%= f.input :details, :as => :text, required: true,input_html: {:rows => 10 ,:style => "resize:vertical;",id: "markdown"} %>
				     	</div>
				     	<div class="col-md-10 col-md-offset-2">
				     		<%= f.input :rating,collection: 0..10,input_html:{style:"width:120px;"},:selected => 5,:required => false %>
				     		 <%= f.button :submit ,"Submit Review", class: "btn btn-success pull-right vn-reviewbutton",data:{ disable_with: "Posting.."} %>
				     		 <%= link_to "Write a full Review",new_vn_review_path(@vn),class: "btn blue-button pull-right vn-fullbutton",'data-no-turbolink' =>"true" %>
							<%= f.hidden_field :user_id,value: current_user.id %>
							<%= f.hidden_field :vn_id,value: @vn.id %>
				     	</div>
				     	<div class="col-md-10 col-md-offset-2">
				     		<hr>
				     		<div id="preview"></div>
				     		<hr>
				     	</div>
			     	</div>
			     <% end %>
			    </div>
			    <!-- if not logged in, tell them to login !-->
			    <% else %>
			    	<h4> You have to be logged in to be able to write a review for <%= @vn.name %>.</h4>
			    <% end %>



			  </div>
			</div>
		
		</div></div> <!-- panels !-->
<!-- col 8 !-->
		</div>
		<!-- Related Section !-->
		
		
</div></div>
</section>

<section id="vn-screenshot">
<div class="container">
	<div class="row ">
		<div class="col-md-12">
			<h3>Screenshots</h3>
		</div>
		<div class="col-md-12">
			<% unless @screenshots.blank? %>
				<div class="row">
				<% @screenshots.each do |ss| %>
					<div class="col-md-3">
						<%= link_to ss.image.url, :class => 'fancybox', :rel =>'ss' do %>
							 <%= image_tag(ss.image.url(:thumb),:alt => @vn.name, :class=> "img-thumbnail") %>
						<% end %>
					</div>
				<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<!-- Modal -->

<div id="Library_Entry_Modal">
	<%= render 'library_entry_modal',locals:{vn: @vn,entry: @lib_entry} %>
</div>
