<% title @vn.name %>
<div class="container-fluid">
	<div class="row">
	
			<div class="twittercover" style="background-image:url(<%= asset_path "#{@vn.image_coverpage.url}" if @vn.image_coverpage? %>)">
	
		</div>
	</div>
</div>

<section id="vn-item">
<div class="container vn-show-padding">
	<div class="row">
	
		<div class="col-lg-3">
			<div class="panel panel-default">
  			<div class="panel-body panel-vnshow">

 			<%= link_to edit_vn_path(@vn),:class => "btn ghost-buttonimg vn-buttonedit", 'data-no-turbolink' =>"true" do %>
				<i class="fa fa-pencil"></i>
			<% end %>
 			<% if user_signed_in? %>
			<% if current_user.library_entries.exists?(vn_id: @vn.id,favourite: true) %>
 			<%= link_to favourite_vn_path(@vn, type: "unfavourite"), method: :put,:class => "btn ghost-buttonimg vn-button" do %>
				<i class="fa fa-times"></i>
			<% end %>
			<% else %>
			<%= link_to favourite_vn_path(@vn, type: "favourite"),:class => "btn ghost-buttonimg vn-button", method: :put do %>
				<i class="fa fa-heart"></i>
			<% end %>
				<% end %>
			  <% end %> 
			<%= image_tag("#{@vn.image_poster.url}",:alt => "@vn.name", :class=> "vn-poster") %>
			<%= link_to @vn.trailer_url, :class => "vn-youtube fancyframe" do %>
				<i class="fa fa-youtube-play fa-3x"></i>
			<% end %>
			<span class="vn-contentpadding">
				<ul class="list-inline">
					<% @vn.genres.each do |genre| %>
						<li class="vngenre-padding inline-nopadding"><%= link_to genre.name,genre_path(genre) %></li>
					<% end %>
				</ul>
			</span>
			<span class="genre-text vn-contentpadding ">Developer: <% if @vn.developer %><%= link_to @vn.developer.name, developer_path(@vn.developer) %> </span>
			<br> <% end %>
			<span class="genre-text vn-contentpadding">Release Date: <%= @vn.release_date %> </span>
			<br>
		</div>
	</div>
		</div>
		<div class="col-lg-9 col-md-9">
			 <span class="vn-name text-primary vn-contentpadding"><%= @vn.name %> </span>
			  
 			<span class="default-text vn-score">Score: <%= @vn.rating_number%> </span>
 			<!-- start of buttons -->
 			<div class="pull-right">
 				
			  <% if user_signed_in? %>

 			<div class="btn-group status-dropdown" role="group">
   			 <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i>
      			Status
     		 <span class="caret"></span>
   			 </button>
   			 <ul class="dropdown-menu">
				<% if current_user.library_entries.exists?(vn_id: @vn.id,status: "watch") %> 
			     	<li class="list-group-item-info"> <% else %> <li>
			    <% end %>
		 			<%= link_to "Playing", status_vn_path(@vn, type: "watch"), method: :post %>
		 		</li>

		      <% if current_user.library_entries.exists?(vn_id: @vn.id,status: "wishlist") %> 
			     	<li class="list-group-item-info"> <% else %> <li>
			    <% end %>
		 			<%= link_to "Wishlist", status_vn_path(@vn, type: "wishlist"), method: :post %>
		 		</li>

		        <% if current_user.library_entries.exists?(vn_id: @vn.id,status: "drop") %> 
			     	<li class="list-group-item-info"> <% else %> <li>
			    <% end %>
		 			<%= link_to "Dropped", status_vn_path(@vn, type: "drop"), method: :post %>
		 		</li>

		 		 <% if current_user.library_entries.exists?(vn_id: @vn.id,status: "complete") %> 
			     	<li class="list-group-item-info"> <% else %> <li>
			    <% end %>
		 			<%= link_to "Completed", status_vn_path(@vn, type: "complete"), method: :post %>
		 		</li>
		    </ul>
  			</div>
  			<div class="btn-group" role="group">
  				<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-star"></i>
  					Rate
  					<span class="caret"></span>
  				</button>
  				<ul class="dropdown-menu">
  					<li><%= link_to 'Perfect', rate_vn_path(@vn, rating: "perfect"), method: :put %></li>
  					<li><%= link_to 'Great', rate_vn_path(@vn, rating: "great"), method: :put %></li>
  					<li><%= link_to 'Good', rate_vn_path(@vn, rating: "good"), method: :put %></li>
  					<li><%= link_to 'Awful', rate_vn_path(@vn, rating: "awful"), method: :put %></li>
  				</ul>
  			</div>

 				<% end %>
 				<!--  end of buttons -->
			</div>
	 <hr>
			
			
			<span class="vn-contentpadding summary-text"><%= @vn.summary %> </span>
			 <div class="vn-thumbnail-img">
			 	<div class="row">
			 		<div class="col-md-3">
			 		<%= link_to @vn.image_1.url, :class => 'fancybox', :rel =>'group' do %>
					 <%= image_tag("#{@vn.image_1.url(:thumb)}",:alt => "screenshot 1", :class=> "vn-thumbnail img-thumbnail") %>
					 <% end %>
			 		</div>

			 		<div class="col-md-3">
					 <%= link_to @vn.image_2.url, :class => 'fancybox', :rel =>'group' do %>
					 <%= image_tag("#{@vn.image_2.url(:thumb)}",:alt => "screenshot 2", :class=> "vn-thumbnail img-thumbnail") %>
					 <% end %>
					</div>

			 		<div class="col-md-3">
					<%= link_to @vn.image_3.url, :class => 'fancybox', :rel =>'group' do %>
					 <%= image_tag("#{@vn.image_3.url(:thumb)}",:alt => "screenshot 3", :class=> "vn-thumbnail img-thumbnail") %>
					 <% end %>
					</div>
			 		<div class="col-md-3">
					 <%= link_to @vn.image_4.url, :class => 'fancybox', :rel =>'group' do %>
					 <%= image_tag("#{@vn.image_4.url(:thumb)}",:alt => "screenshot 4", :class=> "vn-thumbnail img-thumbnail") %>
					 <% end %>
					</div>

			</div>
		</div>

		
	</div>
</div>  <!-- end of container -->

<div class="container">
	<div class="row">
		<div class="col-md-12">

		<a href=<%= characters_vn_path(@vn) %>><h3>Characters</h3> </a>
	</div>
			<% @showcharacters.each	 do |char| %>
		<div class="col-md-2 removecharacterpadding">
			<div class="row">
				<div class="col-md-6 adjustcharacter">
					<%= link_to char.img_string.url, :class => 'fancybox', :rel =>'character' do %>
						 <%= image_tag("#{char.img_string.url}",:alt => "#{char.name}", :class=> "img-thumbnail") %>
					<% end %>
				
				</div>

				<div class="col-md-6">
					<%= link_to char.name, characters_vn_path(@vn,anchor:char.name.delete(' ')), :class => "h5" %>
				</div>
			</div>
		</div>
		<!-- 	<p><%= char.summary %></p> -->

			<% end %>
		</div>
	</div>
</div>



</section>