 <% title @vn.name %>
<% description (@vn.name + " - " + @vn.summary.first(150)) %>

<% if @vn.image_coverpage.blank? %>
	<% if user_signed_in?  %>
			<% if current_user.admin? || current_user.mod? %>
			<div class="container">
			<%= link_to 'Crop',crop_vn_path,:class =>"btn blue-button text-center",:style =>"text-decoration:none;" %>
			<%= link_to 'Add Screenshots',screenshots_vn_path,:class =>"btn blue-button text-center",:style =>"text-decoration:none" %>
			</div>
			<% end %>
	<% end %>
<% else %>

		<div class="twittercover" style="background-image:url(<%= asset_path "#{@vn.image_coverpage.url}" if @vn.image_coverpage? %>)">
		<% if user_signed_in?  %>
		<% if current_user.admin? || current_user.mod? %>
		<%= link_to 'Crop',crop_vn_path,:class =>"ghost-buttonimg text-center",:style =>"text-decoration:none;" %>
		<%= link_to 'Add Screenshots',screenshots_vn_path,:class =>"ghost-buttonimg text-center",:style =>"text-decoration:none" %>
		<% end %>
		<% end %>
		</div>
	

<% end %>

<section id="vn-item">
<div class="container vn-show-padding">
	<div class="row">
	
		<div class="col-lg-3">
			<div class="panel panel-default">
  			<div class="panel-body panel-vnshow">

 			<%= link_to edit_vn_path(@vn),:class => "btn ghost-buttonimg vn-buttonedit", 'data-no-turbolink' =>"true" do %>
				<i class="fa fa-pencil"></i>
			<% end %>
			<div id ="vn-favourite">
 				<%= render 'favourite_ajax',locals:{vn: @vn} %>
			</div>
			<%= image_tag("#{@vn.image_poster.url}",:alt => "#{@vn.name}", :class=> "img-responsive") %>

			<% if !@vn.trailer_url.blank? %>
			<%= link_to @vn.trailer_url, :class => "vn-youtube fancyframe" do %>
		
				<i class="fa fa-youtube-play fa-3x dd"></i>
			<% end %> <% end %>

				<ul class="list-inline">
					<% @vn.genres.each do |genre| %>
						<li class="vngenre-padding inline-nopadding"><%= link_to genre.name,genre_path(genre),:class =>"vn-genre summary-text" %></li>
					<% end %>
				</ul>

			<% if !@vn.publishers.blank? %><span class="vn-label">Publishers:</span> 
				<% @vn.publishers.each do |publisher| %>
				<%= link_to publisher.name,publisher_path(publisher) %>
				<% end %>
			<br> <% end %>
			<span class="vn-label">Developer:</span> <% if @vn.developer %><%= link_to @vn.developer.name, developer_path(@vn.developer) %>
			<br> <% end %>
			<span class="vn-label">Release Date:</span> <%= @vn.release_date %>
			<br>
			<span class="vn-label">Status:</span> <%= @vn.status %>
			<br>
			<% if !@vn.alias.blank? %>
			<span class="vn-label">Alias:</span> <h2><%= @vn.alias %> </h2>
			<br> <% end %>
			<% unless @vn.buy_1.blank? && @vn.buy_2.blank? && @vn.buy_3.blank? && @vn.buy_4.blank? %>
				<span class="vn-label">Purchase:</span><%= get_purchase_location(@vn.buy_1) %> <%= get_purchase_location(@vn.buy_2) %> 
					<%= get_purchase_location(@vn.buy_3) %> <%= get_purchase_location(@vn.buy_4) %>
				
			<% end %>
			<% unless @translation.blank? %> 
				<div class="text-center" style="padding-top:15px;">
				<% if @vn.status == "Translated" %>
					<%= link_to 'Translation Status', translation_vn_path(@vn),class:"vn-label",style: "color:#A7B4BB !important;" %> 
				<% else %>
					<%= link_to 'Translation Status', translation_vn_path(@vn),class:"vn-label",style: "color:#3498db !important;" %> 
				<% end %>
				</div>
			<% end %>
		</div>
	</div>
		</div>
		<div class="col-lg-9 col-md-9">
			<% if @vn.name.length > 30 %>
			 	<h1 style="font-size:19px !important;"><%= @vn.name %> </h1>
			<% else %>
			 	<h1><%= @vn.name %> </h1>
			 <% end %>
			  
 			<span class="default-text vn-score">Score: <%= @vn.rating_number%> </span>
 			<!-- start of buttons -->
 			<div class="vn-pull-right">
			 <% if user_signed_in? %>
				<div class="btn-group status-dropdown" role="group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i>
			      			Status
			   			<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" id="vn-status">
			 			<%= render 'status_ajax',locals:{vn: @vn} %>
 					</ul>
				</div>
	  			<div class="btn-group" role="group">
	  				<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-star"></i>
	  					Rate
	  					<span class="caret"></span>
	  				</button>
	  				<ul class="dropdown-menu" id="vn-rate">
	  					<%= render 'rate_ajax',locals:{vn:@vn} %>
	  				</ul>
	  			</div>
 			<% end %>
 				<!--  end of buttons -->
		</div>
	 	<hr>
			
			
			<span class="summary-text"><%= @vn.summary %> </span>
			 <div class="vn-thumbnail-img">
			 	<div class="row">
			 		<div class="col-md-3">
			 		<% unless @vn.image_1.blank? %>
			 		<%= link_to @vn.image_1.url, :class => 'fancybox', :rel =>'group' do %>
					 <%= image_tag("#{@vn.image_1.url(:thumb)}",:alt => "#{@vn.name} screenshot 1", :class=> "img-thumbnail") %>
					 <% end %>
			 		</div> <% end %>

			 		<div class="col-md-3">
			 		<% unless @vn.image_2.blank? %>
					 <%= link_to @vn.image_2.url, :class => 'fancybox', :rel =>'group' do %>
					 <%= image_tag("#{@vn.image_2.url(:thumb)}",:alt => "#{@vn.name} screenshot 2", :class=> "img-thumbnail") %>
					 <% end %>
					</div> <% end %>

			 		<div class="col-md-3">
			 		<% unless @vn.image_3.blank? %>
					<%= link_to @vn.image_3.url, :class => 'fancybox', :rel =>'group' do %>
					 <%= image_tag("#{@vn.image_3.url(:thumb)}",:alt => "#{@vn.name} screenshot 3", :class=> " img-thumbnail") %>
					 <% end %>
					</div> <% end %>

			 		<div class="col-md-3">
			 		<% unless @vn.image_4.blank? %>
					 <%= link_to @vn.image_4.url, :class => 'fancybox', :rel =>'group' do %>
					 <%= image_tag("#{@vn.image_4.url(:thumb)}",:alt => "#{@vn.name} screenshot 4", :class=> "img-thumbnail") %>
					 <% end %>
					</div> <% end %>

				</div>
			</div>
		
	</div>
</div>  <!-- end of container -->

</section>

<section id="vn-character">
<div class="container">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<a href=<%= characters_vn_path(@vn) %>><h3>Characters</h3> </a>
		</div>
			
			<% @showcharacters.in_groups_of(6,false) do |charRow| %>

		<div class="row vnchar-rowpadding">
		<% charRow.each do |char| %>
		<div class="col-md-2 col-xs-4 col-sm-2 removecharacterpadding">
				<div class="col-md-6 col-sm-12 col-xs-12 adjustcharacter">
					<%= link_to char.img_string.url, :class => 'fancybox', :rel =>'character' do %>
						 <%= image_tag("#{char.img_string.url(:thumb)}",:alt => "#{char.name}", :class=> "img-circle img-thumbnail") %>
					<% end %>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 vn-characterbottompadding">
					<%= link_to char.name, characters_vn_path(@vn,anchor:char.name.delete(' ')), :class => "h5 vnpage-charname" %> <br>
					<span class="character-role"><%= char.role unless char.role == "Not Set" %> </span>
				</div>
			
		</div>
		<% end %>
		</div> 
		<% end %> 
			<!-- row and container below !-->
		</div>
	</div>
</section>

<div class="container">

   
    
</div>
<section id="franchise-related">
<div class="container">
	<div class="row">
		<% unless @franchise.blank? %>
		<div class="col-md-6 col-xs-12">
			<h3> Related Visual Novels</h3>
				<% @franchise.vns.each do |vn| %>	
						<% if @vn != vn %> 

    					<ul class="img-list-hover"><li>
						 <%= link_to vn_path(vn) do %>
							 <%= image_tag(vn.image_poster_url,:alt => vn.name, :class=> "related-thumbnail",:style =>"") %>
								<span class="text-content"><span><%= vn.name %></span></span>
						 <% end %>

					</li></ul>
				<% end %>
		<% end %>
	</div>
		<% end %>
		<% unless @vn.walkthrough_content.blank? %>
		<div class="col-md-6 col-xs-12">
			<h3>Route Walkthroughs</h3>
			<%= link_to image_tag("vn-review.jpg",:alt => @vn.name + " Character Walkthrough",:class =>"img-responsive",:style =>"float:left;"),walkthrough_vn_path(@vn),:target =>"_blank"  %>
		</div>
		<% end %>
	</div>
</div>
</section>	

<section id = "review" style="margin-top:30px;">
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="portlet">
				<div class="portlet-title">
				<div class="row">
					<div class="caption col-md-6 col-sm-6 col-lg-7 col-xs-12">
						<% if @recent_reviews.blank? %>
							<% if @vn.name.length > 40 %> 
								<h3 class="caption-subject">Reviews</h3>
							<% else %>
								<h3 class="caption-subject"> <%= @vn.name %> Reviews</h3>
							<% end %>
						<% else %>
							<% if @vn.name.length > 40 %> 
								<h3 class="caption-subject"><%= link_to "Reviews",vn_reviews_path(@vn) %></h3>
							<% else %>
								<h3 class="caption-subject"> <%= link_to @vn.name + " Reviews",vn_reviews_path(@vn) %> </h3>
							<% end %>
						<% end %>
					</div>
					<div class="actions col-md-6 col-sm-6 col-lg-5 col-xs-12 mobile-review-tab">
						<div class="btn-group mobile-review-buttongroup" data-toggle="buttons">
							<a href="#recent" aria-controls="recent" role="tab" data-toggle="tab" class="btn grey-salsa">Recent</a>
							<a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="btn grey-salsa">Positive</a>
							<a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" class="btn grey-salsa">Negative</a>
							<a href="#write" aria-controls="settings" role="tab" data-toggle="tab" class="btn grey-salsa">Write a Review</a>
						</div>
					</div>
				</div>
				</div>
 			<div class="portlet-body">
 			<div class="row"> 
 				<div class="tab-content">
			
			    <div role="tabpanel" class="tab-pane fade in active" id="recent">
			    	  <% unless @recent_reviews.blank? %>
				    	  <%= render :partial => 'review', :collection => @recent_reviews  %>
				    	  <!-- SHOW ALL REVIEWS !-->
					  <% else %>
					  <h4><i class="fa fa-magic fa-2x" style="color:#000080;"></i> No Reviews</h4>
					  <p>Nobody has written a review for <b><%= @vn.name %></b> yet. Come and write a review about <%= @vn.name %> to let the community know of your thoughts!</p>
					  <% end %>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="messages">
			    	  <%= render :partial => 'review', :collection => @positive_reviews  %>
				</div>

			    <div role="tabpanel" class="tab-pane" id="settings">
			       	 <%= render :partial => 'review', :collection => @negative_reviews  %>
			    </div>

			    <div role="tabpanel" class="tab-pane" id="write">
			    <% if user_signed_in? %>
			    <h4 style="margin-top:0px; margin-bottom:20px;">Write a review for <%= @vn.name%>
			    	<%= link_to image_path("markdown.png"), :class => 'fancybox', :rel =>'?' do %>
			     <i class="fa fa-question-circle"></i>
			     <% end %>
			 	</h4>
			 
			     <%= simple_form_for ([@vn,@vn.reviews.build]) do |f| %>
			     	<div class="row">
				     	<div class="col-md-2">
				     		<div class="vn-review-userposter">
				     			<%= display_avatar(current_user,"img-responsive") %>
				     		</div>
				     	</div>
				     	<div class="col-md-10">
				     	<%= f.input :details, :as => :text, required: true,input_html: {:rows => 10 ,:style => "resize:vertical;",id: "markdown"} %>
				     	</div>
				     	<div class="col-md-10 col-md-offset-2">
				     		<%= f.input :rating,collection: 0..10,input_html:{style:"width:120px;"},:selected => 5,:required => false %>
				     		 <%= f.button :submit ,"Submit Review", class: "btn btn-success pull-right vn-reviewbutton",data:{ disable_with: "Posting.."} %>
				     		 <%= link_to "Write a full Review",new_vn_review_path(@vn),class: "btn blue-button pull-right vn-fullbutton",'data-no-turbolink' =>"true" %>
							<%= f.hidden_field :user_id,value: current_user.id %>
							<%= f.hidden_field :vn_id,value: @vn.id %>
				     	</div>
				     	<div class="col-md-10 col-md-offset-2">
				     		<hr>
				     		<div id="preview"></div>
				     		<hr>
				     	</div>
			     	</div>
			     <% end %>
			    </div>
			    <!-- if not logged in, tell them to login !-->
			    <% else %>
			    	<h4> You have to be logged in to be able to write a review for <%= @vn.name %>.</h4>
			    <% end %>



			  </div>
			</div>
		
		</div></div> <!-- panels !-->
<!-- col 8 !-->
		</div>
		<!-- Related Section !-->
		
		
</div></div>
</section>

<section id="vn-screenshot">
<div class="otherss-padding">
<div class="container">
	<div class="row ">
		<div class="col-md-12">
		<% unless @screenshots.blank? %>
			<h3>Screenshots</h3>
			<% @screenshots.each do |ss| %>
				<div class="col-md-3">
					<%= link_to ss.image.url, :class => 'fancybox', :rel =>'ss' do %>
						 <%= image_tag(ss.image.url(:thumb),:alt => @vn.name, :class=> "img-thumbnail") %>
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
	</div>
</div>
</div>
</div>

<!-- Modal -->

<div id="Library_Entry_Modal">
	<%= render 'library_entry_modal',locals:{vn: @vn,entry: @lib_entry} %>
</div>
