
      <% @posts.each do |post| %>
      <div class="row">
       <div class="panel panel-default"><div class="panel-body" style="position:relative;">
          <% vn = post.library_entry.vn if post.library_entry %>
          <div class = "post-delete-div">
              <% if current_user == @user %>
               <%= link_to post,:method=>:delete,:class =>"btn btn-danger pull-right",data:{ confirm: "Are you sure?"} do %>
                  <i class="fa fa-trash-o"></i>
                <% end %>
              <% end %>
          </div>
        <div class="col-md-2 col-xs-4 col-sm-4">
          <% if post.library_entry %>
          <%= link_to image_tag("#{vn.image_poster.url}",:alt => "#{vn.name}", :class=> "img-responsive pull-left"), vn_path(vn)  %>
          <% else %>
            <% if !@user.poster_image.blank? %>
              <%= image_tag(@user.poster_image.url,:alt => "#{@user.name}",:class =>"img-responsive pull-left") %>
            <% else %>
               <%= image_tag("default_avatar.jpg",:alt => "#{@user.name}",:class =>"img-responsive pull-left") %>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-10 col-xs-8">
          <h4><%= post.detail %></h4>
          <hr>
          <div class="row">
            <div class="col-md-7">
              <% if post.library_entry %>
                <ul class="list-inline">
                  <% vn.genres.each do |genre| %>
                    <li><%= link_to genre.name,genre_path(genre) %></li>
                 <% end %>
                </ul>
              <% end %>
            </div>
            <div class="col-md-4">
              <h5 class="user-time vn-postdate"><%= time_ago_in_words(post.created_at) %> ago.</h5> 
            </div>
               
              <!-- end of nested divs-->
          </div>
        </div>
      </div>
      </div></div> <!---panels -->
    <% end %>


