  <tr>
    <td><%= library_counter %></td>
    <td class="summary-text"><%= link_to library.vn.name,vn_path(library.vn),style: "font-size:1em;color:black;" %></td>
    <td style="padding-left:26px; font-style:italic;"><%= library.rating %></td>
   <!--  <td><div style="padding-left:25px;">
    	<% if library.favourite? %>
    		<i class="fa fa-heart" style="color:red;font-size:1.3em;opacity:0.7;"></i></div>
    	<% else %>
    		<i class="fa fa-times" style="color:red;font-size:1.2em;opacity:0.55;"></i></div>
    	<% end %>
    </td> -->
    <td> 
      <% if !library.notes.blank? %>
        <% if user_signed_in? && current_user.id == library.user.id %>
          <%= link_to library.notes,edit_library_entry_path(library),style:"text-decoration:none;color:black;" %>
        <% else %>
           <%= library.notes %>
        <% end %>
      <% elsif user_signed_in? && current_user.id == library.user.id  %>
        <%= link_to 'Add',edit_library_entry_path(library) %>
      <% end %>
    </td>
  </tr>
