  <tr>
    <td>
      <%= image_tag(library_all.vn.image_poster.url(:thumb),class:"library-vn-poster") %>
    </td>
    <td>
      <% if user_signed_in? && current_user.id == library_all.user.id %>
        <%= link_to truncate(library_all.vn.name, :length => 50) ,vn_path(library_all.vn),style: "font-size:1em;color:black;" %>
      <% else %>
        <%= truncate(library_all.vn.name, :length => 50) %>
      <% end %>
    </td>
    <td>
      <% if user_signed_in? && current_user.id == library_all.user.id %>
        <%= best_in_place library_all, :status, :as => :select,:collection => { watch: 'Playing', complete: 'Completed', drop: 'Dropped', wishlist: 'Wishlist',backlog: "Backlog"} , :place_holder => "Unspecified",inner_class: 'form-control' %>
      <% else %>
        <%= status_text(library_all.status) %>
      <% end %>
    </td>
    <td class="text-center">
      <% if user_signed_in? && current_user.id == library_all.user.id %>
        <%= best_in_place library_all, :rating, :as => :select,:collection => %w(1 2 3 4 5 6 7 8 9 10) , :place_holder => "?",inner_class: 'form-control' %>
      <% else %>
        <%= library_all.rating %>
      <% end %>
    </td>
    <td> 
      <% if !library_all.notes.blank? %>
        <% if user_signed_in? && current_user.id == library_all.user.id %>
          <!--<%= link_to library_all.notes,edit_library_entry_path(library_all),style:"text-decoration:none;color:black;" %> !-->
          <%= best_in_place library_all, :notes, :as => :textarea, :place_holder => "Add",inner_class: 'form-control' %>
        <% else %>
           <%= library_all.notes %>
        <% end %>
      <% elsif user_signed_in? && current_user.id == library_all.user.id  %>
         <%= best_in_place library_all, :notes, :as => :textarea, :place_holder => "Add",inner_class: 'form-control' %>
      <% end %>
    </td>
  </tr>
