<% @posts.each do |post| %>
        <% vn = post.library_entry.vn if post.library_entry %>
        <div class="row" style="margin-top:5px;margin-bottom:5px;">
          <div class="col-md-2 col-xs-3">
            <% if post.library_entry %>
              <%= link_to image_tag(vn.image_poster.url,:alt => "#{vn.name}", :class=> "img-responsive"), vn_path(vn)  %>
            <% else %>
              <% if !@user.poster_image.blank? %>
                <%= image_tag(@user.poster_image.url,:alt => "#{@user.name}",:class =>"img-responsive") %>
              <% else %>
                <%= image_tag("default_avatar.jpg",:alt => "#{@user.name}",:class =>"img-responsive") %>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-10 col-xs-9">
           <div class="panel panel-default"><div class="panel-body" style="position:relative;">
              <p><%= post.detail %></p>
              <div class="row" style="margin-top:20px;">
                <div class="col-md-7 col-xs-9">
                  <% if post.library_entry %>
                    <ul class="list-inline user-genres">
                      <% vn.genres.each do |genre| %>
                        <li><%= link_to genre.name,genre_path(genre) %></li>
                     <% end %>
                    </ul>
                  <% end %>
                </div>
                  <span class="user-time pull-right"><%= time_ago_in_words(post.created_at) %> ago</span>
              </div>
              <!-- row !-->
          </div></div> <!---panels -->
        </div>
      </div>
<% end %>


