<% title 'Edit Password' %>
<div class="container">
<div class="row">
   
<%= simple_form_for @user, html: { multipart: true }  do |f| %>
  <%= f.error_notification %>
  <div class="col-md-5">

  <div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
       <div class="col-md-12">
        <h2>Edit Password </h2>
       </div>
        <div class="col-md-8">
            
           <%= f.input :password, autocomplete: "off", placeholder: "Enter a new password", required: false, label: "New Password" %>
           <%= f.input :password_confirmation,placeholder: "Confirm password", required: false %>
          
             <%= f.button :submit, "Update",class: "register-button",:style =>"width: 100px;margin-top:10px;" %>
            
        </div>

         
       
       </div>
      
       
       <!--  <div class="col-md-4">
        <%= f.input :email, required: true, autofocus: true,required: false  %>
        </div> -->
  
  

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    
      
    
         
 
<% end %>
<!--
<h3>Cancel my account</h3> 
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
 -->
     <div class="col-md-12">
        

     </div>
  </div> </div>

</div></div>
</div></div>
