<% title "Search Users" %>
<% description "Discover new random users in Visualnoveler. Start tracking and discovering visual novels today!." %>
<div class="container" style="padding-bottom:10px;">
	<div class="row">
		<div class="col-md-12">
			<h1>Users</h1>
			<div class="input-group" id="custom-search-input">
				<%= form_tag(search_users_path, :method => "get") do %>
					<%= text_field_tag :search, params[:search], class: "form-control typeahead-users search-query", placeholder: "Search Users" %>
					 <div class="input-group-btn">
		             	<%= button_tag(type: "submit", class: "btn") do %>
		                	<span class=" glyphicon glyphicon-search"></span>
		                <% end %>
		             </div>
				<% end %>
			</div>
		</div>

		<% @random.each do |user| %>
		<div class="col-md-3 col-xs-6">
			
			<h4><%= user.name.truncate(32) %> </h4>
			<%= link_to image_tag(user.poster_image,class:"img-circle img-responsive-half",alt: user.name),user_path(user) %>
		</div>
		<% end %>
	</div>
</div>