<% title @user.name + "'s Visual Novel List" %>

<div class="container">
<div class="row">
	<div class="col-md-8">
	  <div class="panel panel-default">
	  <div class="panel-body">
	  <h3> Visual Novel Library</h3>     
	  <ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#home">All</a></li>
		<li><a data-toggle="tab" href="#watch">Watching</a></li>
		<li><a data-toggle="tab" href="#complete">Completed</a></li>
		<li><a data-toggle="tab" href="#wishlist">Wishlist</a></li>
		<li><a data-toggle="tab" href="#favourite">Favourites</a></li>
		<li><a data-toggle="tab" href="#drop">Dropped</a></li>
	  </ul>

	<div class="tab-content">
	  <div id="home" class="tab-pane fade in active">
		  	<table class="table table-hover">
		    <thead>
		      <tr>
		        <th>Visual Novel Title</th>
		        <th>Rating</th>
		        <th>Status</th>
		        <th>Favourite</th>
		      </tr>
		    </thead>
	      <%= render :partial => 'library', :collection => @lib  %>
	      </table>
	  </div>
	  <div id="watch" class="tab-pane fade">
	 		<table class="table table-hover">
		    <thead>
		      <tr>
		        <th>Visual Novel Title</th>
		        <th>Rating</th>
		        <th>Status</th>
		        <th>Favourite</th>
		      </tr>
		    </thead>
	      <%= render :partial => 'library', :collection => @lib_watched  %>
	      </table>
	  </div>
	  <div id="complete" class="tab-pane fade">
	    	<table class="table table-hover">
		    <thead>
		      <tr>
		        <th>Visual Novel Title</th>
		        <th>Rating</th>
		        <th>Status</th>
		        <th>Favourite</th>
		      </tr>
		    </thead>
	      <%= render :partial => 'library', :collection => @lib_completed  %>
	      </table>
	  </div>
	  <div id="wishlist" class="tab-pane fade">
	  	<table class="table table-hover">
		    <thead>
		      <tr>
		        <th>Visual Novel Title</th>
		        <th>Rating</th>
		        <th>Status</th>
		        <th>Favourite</th>
		      </tr>
		    </thead>
	      <%= render :partial => 'library', :collection => @lib_wishlist  %>
	      </table>
	  </div>
	  <div id="favourite" class="tab-pane fade">
	  	<table class="table table-hover">
		    <thead>
		      <tr>
		        <th>Visual Novel Title</th>
		        <th>Rating</th>
		        <th>Status</th>
		        <th>Favourite</th>
		      </tr>
		    </thead>
	      <%= render :partial => 'library', :collection => @lib_fav  %>
	      </table>
	  </div>
	  <div id="drop" class="tab-pane fade">
	  	<table class="table table-hover">
		    <thead>
		      <tr>
		        <th>Visual Novel Title</th>
		        <th>Rating</th>
		        <th>Status</th>
		        <th>Favourite</th>
		      </tr>
		    </thead>
	      <%= render :partial => 'library', :collection => @lib_dropped  %>
	      </table>
	  </div>

	</div>    
	  
	 </div>
</div></div>
</div></div>
