<% title @user.name + "'s Visual Novel List" %>

<div class="container">
<div class="row">
	<div class="col-md-8">
	  <div class="panel panel-default">
	  <div class="panel-body">
	  <h3> Visual Novel Library</h3>     
	  <ul class="list-inline" style="padding-top:5px;padding-bottom:5px;">
		  <li class="lead"><%= link_to 'Completed', completed_user_path(@user) %></li>
	      <li class="lead"><%= link_to 'Watching', watch_user_path(@user) %></li>
	      <li class="lead"><%= link_to 'Dropped', drop_user_path(@user) %></li>
	      <li class="lead"><%= link_to 'Wishlist', wishlist_user_path(@user) %></li>
	  </ul>     
	  <table class="table table-bordered table-hover">
	    <thead>
	      <tr>
	        <th>Visual Novel Title</th>
	        <th>Rating</th>
	        <th>Status</th>
	        <th>Favourite</th>
	      </tr>
	    </thead>
	    <tbody>
	    <% @lib.each do |library| %>
	      <tr>
	        <td><%= link_to library.vn.name,vn_path(library.vn) %></td>
	        <td class="text-center"><%= library.rating %></td>
	        <td><%= status_text(library.status) %></td>
	        <td><%= library.favourite ? "Favourited" : "Not Favourited" %> </td>
	      </tr>

	    <% end %>
	    </tbody>
	  </table>
	 </div>
</div></div>
</div>
</div>
