<% title @user.name + "'s Visual Novel List" %>

<script>
	$(document).ready(function() {
  /* Activating Best In Place */
 //    $( ".best_in_place" ).click(function() {
 //  		alert( "Handler for .click() called." );
	// });
  jQuery(".best_in_place").best_in_place();


});



</script>

<script>
// $(function() {

// $( "td" ).hover(
//   function() {
//     $( this ).append( $( '<span class="caret"></span>' ) );
//   }, function() {
//     $( this ).find( "span:last" ).remove();
//   }
// );
 
// $( "td.fade" ).hover(function() {
//   $( this ).fadeOut( 100 );
//   $( this ).fadeIn( 500 );
// });
// });
</script>

<% if @user.library_image? && (@user.library_image_type == "cover" || @user.library_image_type == "") %>
	<style>
		body{
			background: url(<%= asset_path(@user.library_image.url) %>) no-repeat center center fixed !important; 
		  -webkit-background-size: cover !important;
		  -moz-background-size: cover !important;
		  -o-background-size: cover !important;
		  background-size: cover !important;

		}
	</style>
<% elsif @user.library_image? && @user.library_image_type != "" %>
	<style>
		body {
			background-image: url(<%= asset_path(@user.library_image.url) %>);
		    background-attachment: fixed;
		    background-repeat: no-repeat;
		  	background-position: bottom right;
		}
	</style>
<% end %>
<style>
	body {
		background-color: #344555;
	}
</style>

 <nav class="navbar navbar-default nav-library">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Visualnoveler', root_path,class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <ul class="nav nav-pills text-center library-pill">
				<li class="active"><a data-toggle="tab" class="nav-library-pill" href="#home">All</a></li>
				<li><a data-toggle="tab" href="#watch" class="nav-library-pill">Playing</a></li>
				<li><a data-toggle="tab" href="#complete" class="nav-library-pill">Completed</a></li>
				<li><a data-toggle="tab" href="#wishlist" class="nav-library-pill">Wishlist</a></li>
				<li><a data-toggle="tab" href="#backlog" class="nav-library-pill">Backlog</a></li>
				<li><a data-toggle="tab" href="#favourite" class="nav-library-pill">Favourites</a></li>
				<li><a data-toggle="tab" href="#drop" class="nav-library-pill">Dropped</a></li>
		  	</ul>
          </ul>
          <ul class="nav navbar-nav navbar-right">
             <li class="dropdown pull-right-nav">
             	<%= link_to user_path(@user),style:"padding:0px;" do %>
                  <div class="nav-user" style="display:inline-block;">
                    <span class="usernav-name"><%= @user.name %></span>
                  </div>
                  <%= image_tag(@user.poster_image.url,:class => "pull-right-nav",:style =>"max-width: 60px; max-height: 60px;margin-left:8px;")  %>
                <% end %>
             </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container" style="margin-top:40px;">
<div class="row">
	<div class="col-md-12">
    <div class="panel panel-default">
  <div class="panel-body">
  	<div class="row">
  		<div class="col-md-12">
		  
		</div>
	</div>

	<div class="tab-content">
	  <div id="home" class="tab-pane fade in active">
	  		<div class="table-responsive">
		  	<table class="table table-hover">
		    <thead>
		      	<th>Image</th>
		        <th>Visual Novel Title</th>
		        <th>Status</th>
		        <th class="text-center">Rating</th>
		        <th>Library Notes</th>
		  
		    </thead>
		    <tbody>
	     	 <%= render :partial => 'library', :collection => @lib  %>
	  		</tbody>
	      	</table>
	     	 </div>
	  </div>
	  <div id="watch" class="tab-pane fade">
	  		<div class="table-responsive">
	 		<table class="table table-hover">
		    <thead>
		      <tr>
		      	<th>Image</th>
		        <th>Visual Novel Title</th>
		        <th>Status</th>
		        <th class="text-center">Rating</th>
		        <th>Library Notes</th>
		      </tr>
		    </thead>
		    <tbody>
	      <%= render :partial => 'library', :collection => @lib_watched  %>
		    </tbody>
	      </table>
	  	  </div>
	  </div>
	  <div id="complete" class="tab-pane fade">
	  		<div class="table-responsive">
	    	<table class="table table-hover">
		    <thead>
		      <tr>
		      	<th>Image</th>
		        <th>Visual Novel Title</th>
		        <th>Status</th>
		        <th class="text-center">Rating</th>
		        <th>Library Notes</th>
		      </tr>
		    </thead>

		    <tbody>
	     	 <%= render :partial => 'library', :collection => @lib_completed  %>
	  		</tbody>
	      </table>
	 	  </div>
	  </div>
	  <div id="wishlist" class="tab-pane fade">
	  	<div class="table-responsive">
	  	<table class="table table-hover">
		    <thead>
		      <tr>
		      	<th>Image</th>
		        <th>Visual Novel Title</th>
		        <th>Status</th>
		        <th class="text-center">Rating</th>
		        <th>Library Notes</th>
		      </tr>
		    </thead>
		    <tbody>
	      	<%= render :partial => 'library', :collection => @lib_wishlist  %>
	      </tbody>
	      </table>
	  	</div>
	  </div>
	  <div id="favourite" class="tab-pane fade">
	  	<div class="table-responsive">
	  	<table class="table table-hover">
		    <thead>
		      <tr>
		      	<th>Image</th>
		        <th>Visual Novel Title</th>
		        <th>Status</th>
		        <th class="text-center">Rating</th>
		        <th>Library Notes</th>
		      </tr>
		    </thead>
		   <tbody>
	     	 <%= render :partial => 'library', :collection => @lib_fav  %>
	     	</tbody>
	      </table>
	      </div>
	  </div>
	  <div id="backlog" class="tab-pane fade">
	  	<div class="table-responsive">
	  	<table class="table table-hover">
		    <thead>
		      <tr>
		      	<th>Image</th>
		        <th>Visual Novel Title</th>
		        <th>Status</th>
		        <th class="text-center">Rating</th>
		        <th>Library Notes</th>
		      </tr>
		    </thead>
		   <tbody>
	     	 <%= render :partial => 'library', :collection => @lib_backlog  %>
	     	</tbody>
	      </table>
	      </div>
	  </div>
	  <div id="drop" class="tab-pane fade">
	  	<div class="table-responsive">
	  	<table class="table table-hover">
		    <thead>
		      <tr>
		      	<th>Image</th>
		        <th>Visual Novel Title</th>
		        <th>Status</th>
		        <th class="text-center">Rating</th>
		        <th>Library Notes</th>
		      </tr>
		    </thead>
		   <tbody>
	      	<%= render :partial => 'library', :collection => @lib_dropped  %>
	      	</tbody>
	      </table>
	  </div>
	  </div>
	</div>  
	<!-- panels and main divs below !-->
	<div class="row">
		<div class="col-md-12">
			<h3>Statistics</h3>
		</div>
		<div class="col-md-3">
			<ul class="list-unstyled user-library-list-inline">
				<li>
					<% unless @lib_fav.blank? %>
						<strong>Playing:</strong> <%= @lib_fav.count %> visual novels
					<% end %>
				</li>
				<li>
					<% unless @lib_completed.blank? %>
						<strong>Completed:</strong> <%= @lib_completed.count %> visual novels
					<% end %>
				</li>
				<li>
					<% unless @lib_wishlist.blank? %>
						<strong>Wishlist:</strong> <%= @lib_wishlist.count %> visual novels
					<% end %>
				</li>
				<li>
					<% unless @lib_backlog.blank? %>
						<strong>Backlog:</strong> <%= @lib_backlog.count %> visual novels
					<% end %>
				</li>
				<li>
					<% unless @lib_fav.blank? %>
						<strong>Playing:</strong> <%= @lib_fav.count %> visual novels
					<% end %>
				</li>
				<li>
					<% unless @lib_dropped.blank? %>
						<strong>Dropped:</strong> <%= @lib_dropped.count %> visual novels
					<% end %>
				</li>
			</ul> 
		</div>

		<div class="col-md-3">
			<ul class="list-unstyled user-library-list-inline">
				<li>
					<% unless @avg_lib_score.blank? %>
						<strong>Average Rating:</strong> <%= compute_average(@avg_lib_score) %>
					<% end %>
				</li>
				<li>
					<% unless @avg_lib_playingScore.blank? %>
						<strong>Average Playing Rating:</strong> <%= compute_average(@avg_lib_playingScore) %>
						<% else %>
					<% end %>
				</li>
				<li>
					<% unless @avg_lib_completedScore.blank? %>
						<strong>Average Completed Rating:</strong> <%= compute_average(@avg_lib_completedScore) %>
					<% end %>
				</li>
				<li>
					<% unless @avg_lib_favScore.blank? %>
						<strong>Average Favourite Rating:</strong> <%= compute_average(@avg_lib_favScore) %>
					<% end %>
				</li>
			</ul> 
		</div>
	</div> 
	  </div></div>
	 </div>
</div></div>
