<% title @user.name + "'s Visual Novel List" %>

<script>
	$(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});

</script>
<% if @user.library_image? && (@user.library_image_type == "cover" || @user.library_image_type == "") %>
	<style>
		body{
			background: url(<%= asset_path(@user.library_image.url) %>) no-repeat center center fixed !important; 
		  -webkit-background-size: cover !important;
		  -moz-background-size: cover !important;
		  -o-background-size: cover !important;
		  background-size: cover !important;

		}
	</style>
<% elsif @user.library_image? && @user.library_image_type != "" %>
	<style>
		body {
			background-image: url(<%= asset_path(@user.library_image.url) %>);
		    background-attachment: fixed;
		    background-repeat: no-repeat;
		  	background-position: bottom right;
		}
	</style>

<% end %>
<style>
body {
	background-color: #344555;
}
</style>


<div class="container" style="margin-top:25px;">
<div class="row">
	<div class="col-md-12">
    <div class="panel panel-default">
  <div class="panel-body">
  	<div class="row" style="margin-bottom:20px;">
  		<div class="col-md-4 col-xs-6 col-sm-4">
		  	<h2>
		  		<%= link_to @user.name , user_path(@user),class: "btn btn-default" %>
		  	</h2>
	  	</div>

	  	<div class="col-xs-6 visible-xs">
		  	<h2>
	  			<%= link_to 'Visualnoveler', vns_path,class: "btn btn-default" %>
		  	</h2>
	  	</div>

	  	<div class="col-md-6 col-xs-12 col-sm-5">
	  		<h1 class="library-header-text"> Visual Novel Library</h1>
	  	</div>
	  	<div class="col-md-2 col-xs-12 col-sm-3 hidden-xs pull-right">
	  		<h2>
	  		<%= link_to 'Visualnoveler', vns_path,class: "btn btn-default" %>
	  		</h2>
	  	</div>
  	</div>
  	<div class="row">
  		<div class="col-md-12">
		  <ul class="nav nav-pills text-center library-pill">
			<li class="active"><a data-toggle="tab" class="nav-library" href="#home">All</a></li>
			<li><a data-toggle="tab" href="#watch" class="nav-library">Playing</a></li>
			<li><a data-toggle="tab" href="#complete" class="nav-library">Completed</a></li>
			<li><a data-toggle="tab" href="#wishlist" class="nav-library">Wishlist</a></li>
			<li><a data-toggle="tab" href="#backlog" class="nav-library">Backlog</a></li>
			<li><a data-toggle="tab" href="#favourite" class="nav-library">Favourites</a></li>
			<li><a data-toggle="tab" href="#drop" class="nav-library">Dropped</a></li>
		  </ul>
		</div>
	</div>

	<div class="tab-content">
	  <div id="home" class="tab-pane fade in active">
	  		<div class="table-responsive">
		  	<table class="table table-hover">
		    <thead>
		      	<th>Image</th>
		        <th>Visual Novel Title</th>
		        <th>Status</th>
		        <th class="text-center">Rating</th>
		        <th>Library Notes</th>
		  
		    </thead>
		    <tbody>
	     	 <%= render :partial => 'library', :collection => @lib  %>
	  		</tbody>
	      	</table>
	     	 </div>
	  </div>
	  <div id="watch" class="tab-pane fade">
	  		<div class="table-responsive">
	 		<table class="table table-hover">
		    <thead>
		      <tr>
		      	<th>Image</th>
		        <th>Visual Novel Title</th>
		        <th>Status</th>
		        <th class="text-center">Rating</th>
		        <th>Library Notes</th>
		      </tr>
		    </thead>
		    <tbody>
	      <%= render :partial => 'library', :collection => @lib_watched  %>
		    </tbody>
	      </table>
	  	  </div>
	  </div>
	  <div id="complete" class="tab-pane fade">
	  		<div class="table-responsive">
	    	<table class="table table-hover">
		    <thead>
		      <tr>
		      	<th>Image</th>
		        <th>Visual Novel Title</th>
		        <th>Status</th>
		        <th class="text-center">Rating</th>
		        <th>Library Notes</th>
		      </tr>
		    </thead>

		    <tbody>
	     	 <%= render :partial => 'library', :collection => @lib_completed  %>
	  		</tbody>
	      </table>
	 	  </div>
	  </div>
	  <div id="wishlist" class="tab-pane fade">
	  	<div class="table-responsive">
	  	<table class="table table-hover">
		    <thead>
		      <tr>
		      	<th>Image</th>
		        <th>Visual Novel Title</th>
		        <th>Status</th>
		        <th class="text-center">Rating</th>
		        <th>Library Notes</th>
		      </tr>
		    </thead>
		    <tbody>
	      	<%= render :partial => 'library', :collection => @lib_wishlist  %>
	      </tbody>
	      </table>
	  	</div>
	  </div>
	  <div id="favourite" class="tab-pane fade">
	  	<div class="table-responsive">
	  	<table class="table table-hover">
		    <thead>
		      <tr>
		      	<th>Image</th>
		        <th>Visual Novel Title</th>
		        <th>Status</th>
		        <th class="text-center">Rating</th>
		        <th>Library Notes</th>
		      </tr>
		    </thead>
		   <tbody>
	     	 <%= render :partial => 'library', :collection => @lib_fav  %>
	     	</tbody>
	      </table>
	      </div>
	  </div>
	  <div id="backlog" class="tab-pane fade">
	  	<div class="table-responsive">
	  	<table class="table table-hover">
		    <thead>
		      <tr>
		      	<th>Image</th>
		        <th>Visual Novel Title</th>
		        <th>Status</th>
		        <th class="text-center">Rating</th>
		        <th>Library Notes</th>
		      </tr>
		    </thead>
		   <tbody>
	     	 <%= render :partial => 'library', :collection => @lib_backlog  %>
	     	</tbody>
	      </table>
	      </div>
	  </div>
	  <div id="drop" class="tab-pane fade">
	  	<div class="table-responsive">
	  	<table class="table table-hover">
		    <thead>
		      <tr>
		      	<th>Image</th>
		        <th>Visual Novel Title</th>
		        <th>Status</th>
		        <th class="text-center">Rating</th>
		        <th>Library Notes</th>
		      </tr>
		    </thead>
		   <tbody>
	      	<%= render :partial => 'library', :collection => @lib_dropped  %>
	      	</tbody>
	      </table>
	  </div>
	  </div>
	</div>  
	<!-- panels and main divs below !-->
	<ul class="list-inline user-library-list-inline">
		<li>
			<% unless @avg_lib_score.blank? %>
				<h4>Average Rating: <%= compute_average(@avg_lib_score) %></h4>
			<% end %>
		</li>
		<li>
			<% unless @avg_lib_playingScore.blank? %>
				<h4>Average Playing Rating: <%= compute_average(@avg_lib_playingScore) %></h4>
				<% else %>
			<% end %>
		</li>
		<li>
			<% unless @avg_lib_completedScore.blank? %>
				<h4>Average Completed Rating: <%= compute_average(@avg_lib_completedScore) %></h4>
			<% end %>
		</li>
		<li>
			<% unless @avg_lib_favScore.blank? %>
				<h4>Average Favourite Rating: <%= compute_average(@avg_lib_favScore) %></h4>
			<% end %>
		</li>
	</ul>  
	  </div></div>
	 </div>
</div></div>
