<% title @user.name + "'s Profile" %>

<section id="user">
	<% if @user.header_image.blank? %>
		<div class="user-coverbg" style="background-image: url(<%= asset_path('header.jpg') %> )">
	<% else %>
		<div class="user-coverbg" style="background-image: url(<%= asset_path(@user.header_image) %> )">
	<% end %>
	<div class="profile-coverbg-overlay"> </div>
	<div class="container">
		<div class="row" style="color:white;">
			<div class="col-md-5 col-xs-12" style="position:absolute;bottom:0px;">
				<% if @user.poster_image.blank? %>
		 		 	<%= image_tag("default_avatar.jpg",:class=>"profile-image",:alt =>"user avatar") %>
		 		 <% else %>
		 			 <%= image_tag(@user.poster_image.url,:class => "profile-image",:alt =>"user avatar") %>
		 		 <% end %>

		 		 <div class="user-content">
			 		 <h1 class="username">
			 		 	<%= @user.name %> 
			 		 	<% if @user == current_user %>
				 			<a href=<%= edit_path %> class="" style="padding-left:5px;color:inherit;" data-no-turbolink="true">
				 				<%= fa_icon "pencil",class:"fa-md" %>
				 			</a>
		 				<% end %>
			 		 </h1>
		 			<ul class="list-unstyled list-inline user-nav" style="display:inline-block;">
		 				<li><%= link_to 'Library',library_user_path(@user) %></li>
		 				<li><%= link_to 'Reviews',reviews_user_path(@user) %></li>
		 			</ul>
		 		</div>
			</div>
	 	
	 		<!-- 
						<div class="col-md-3 col-xs-6">
							<% if current_user != @user && user_signed_in? %>
								 <%= link_to similar_user_path(@user),class:"btn blue-button" do %>
		           					 <span class="button-text"><%= @similar_lib.count %> Shared VNs</span>
		        				 <% end %>
	        				 <% end %>
					</div>
					
		 -->
	 	</div>
	 </div>
</div>	

<!-- post section !-->
<div class="user-post">
	<div class="container">
		<div class="row">
			<div class="col-user-leftcol col-xs-12">

				<div class="user-bio">
					<h2>About</h2>
	 				<p><%= markdown(@user.bio) %></p>
	 			</div>

				<h2 style="margin-bottom:20px;">Activity </h2>
				<%= render 'library_entries',locals:{posts: @posts} %>
				
			</div>
			<%= render 'favourites',locals:{favourites: @favourites} %>
			<%= render 'ratings',locals:{favourites: @favourites} %>
		</div>
	</div>
</div>


<!-- comments !-->
<div class="container">
	<div class="row">
		
		<!-- No good reason for comments to exist right now
		<%= render 'comments',comments: @comments %>
		 !-->
	</div>
</div>

</section>