
<div class="container-fluid usercoverbg">
	<div class="row">
		<div class="col-md-12">
			<h1>name</h1> <p><%=current_user.email%></p>
		</div>
		
	</div> <!-- end of row -->
</div>	<!-- end of container -->

<div class="container user-playing">
	<% @user.favourites.each do |fav| %>
	<% lib = fav.library_entries.first %>
	<div class="row">
<div class="panel panel-default">
  <div class="panel-body">
		<div class="col-md-1">
			<%= image_tag("#{fav.image_poster.url}",:alt => "#{fav.name}", :class=> "vn-user-poster pull-left") %>
		</div>
		<div class="col-md-8 user-add-col-padding">

			<h4><%= current_user.email %> has recently added <%= fav.name %> to his playlist</h4>

			<div class="row user-add-col-paddingtop">
				<div class="col-md-3">
					<h5>Some genre</h5>
					
				</div>
				<div class="col-md-6 col-md-offset-2">
				
					<h5><%= time_ago_in_words(lib.created_at) %> ago.</h5>	
				
				</div>		
					<!-- end of nested divs-->
			</div>
		</div>
	</div></div>
	</div>
	<% end %>

</div>