<% title @user.name + "'s Profile" %>
<div class="container usercoverbg">
	<div class="row">
 		 <div class="usercol user-image-div">
 		 <%= image_tag("#{@user.poster_image.url}",:class => "userpic") %>
 		</div>
 		<div class="col-md-6">
 			<h3 class="user-name"><%= @user.name %>
 			<a href=<%= edit_path %> class="a-inherit" data-no-turbolink="true">
 			<%= fa_icon "pencil" %>
 			</a>
 			</h3>
 			<p> Insert some body paragraph Insert some body paragraph Insert some body paragraph Insert some body paragraph Insert some body paragraph Insert some body paragraph Insert some body paragraph Insert some body paragraph Insert some body paragraph Insert some body paragraph Insert some body paragraph</p>
 			<div class="user-buttons">
				<%= link_to watch_user_path(@user), :class => "btn ghost-button"  do %>
					<i class="fa fa-spinner"></i><span class="user-button-padding">Watching</span>
				<% end %>

				<%= link_to wishlist_user_path(@user), :class => "btn ghost-button"  do %>
					<i class="fa fa-gift "></i><span class="user-button-padding">Wishlist</span>
				<% end %>
					
				<%= link_to drop_user_path(@user), :class => "btn ghost-button"  do %>
					<i class="fa fa-thumbs-o-down"></i><span class="user-button-padding">Dropped</span>
				<% end %>

				<%= link_to completed_user_path(@user), :class => "btn ghost-button"  do %>
					<i class="fa fa-book"></i><span class="user-button-padding">Completed</span>
				<% end %>
			</div>
 		</div>
 		<div class="col-md-3">
 			<h4><i class="fa fa-heart-o"></i> Favourites</h4>
 			<div class="row">
 			<% @lib.each do |lib| vn = lib.vn %>
 					<div class="user-favcolumn removecharacterpadding">
 					<%= link_to vn_path(vn) do %>
 						 <%= image_tag(vn.image_poster,:class => "user-favimg") %>
 					<% end %>
 					</div>
 			<% end %>
 			</div>
 		</div>
 		<!-- end !-->
 	</div>
</div>	

<div class="user-post">
<div class="container user-playing">
	<% @posts.each do |post| %>
	<% vn = post.library_entry.vn %>
	<div class="row">

	<div class="panel panel-default">
  	<div class="panel-body">
		<div class="col-md-2">
			<%= image_tag("#{vn.image_poster.url}",:alt => "#{vn.name}", :class=> "img-responsive pull-left") %>
		</div>
		<div class="col-md-8 user-add-col-padding">
			<h4><%= post.detail %></h4>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<ul class="list-inline">
					<% vn.genres.each do |genre| %>
						<li><%= link_to genre.name,genre_path(genre) %></li>
					<% end %>
					</ul>
				</div>
				<div class="col-md-3">
				<h5 class="user-time"><%= time_ago_in_words(post.created_at) %> ago.</h5>	
				</div>		
					<!-- end of nested divs-->
			</div>
		</div>
	</div></div> <!---panels -->
	</div><!---row -->
	<% end %>

	<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div></div>