<% title @user.name + "'s Profile" %>
<% description @user.name + "'s Profile." " Start tracking Visual Novels and discover other hidden Visual Novel gems at Visualnoveler" %>
<div class="container usercoverbg">
	<div class="row">
 		 <div class="usercol user-image-div">
 		 <% if @user.poster_image.blank? %>
 		 	<%= image_tag("default_avatar.jpg",:class=>"userpic",:alt =>"user avatar") %>
 		 <% else %>
 			 <%= image_tag("#{@user.poster_image.url}",:class => "userpic",:alt =>"user avatar") %>
 		 <% end %>
 		</div>
 		<div class="col-md-6">
 			<h3 class="user-name"><%= @user.name %>
 			<% if @user == current_user %>
 			<a href=<%= edit_path %> class="a-inherit" data-no-turbolink="true">
 			<%= fa_icon "pencil" %>
 			</a>
 			<% end %>
 			</h3>
 			<div class="user-bio">
 				<p><%= @user.bio %></p>
 			</div>
 			<div class="user-buttons">
				

				

				<div class="dropdown">
					
					<%= link_to library_user_path(@user), :class => "btn blue-button library-list"  do %>
					<span class="button-text">Library List</span>
				<% end %>
				<%= link_to '', :class => "btn blue-button dropdown-toggle",'data-toggle' => 'dropdown',id: 'dropdownMenu1','aria-haspopup' => true, 'aria-expanded' => true,type: "button"  do %>
					<span class="button-text">Library View</span>
    			<span class="caret"></span>
				<% end %>
				  <ul class="dropdown-menu" style="left:auto;right:200px;" aria-labelledby="dropdownMenu1">
					<li><%= link_to 'Completed', completed_user_path(@user) %></li>
				    <li><%= link_to 'Watching', watch_user_path(@user) %></li>
				    <li><%= link_to 'Dropped', drop_user_path(@user) %></li>
				    <li><%= link_to 'Wishlist', wishlist_user_path(@user) %></li>
				</ul>

				</div>



			</div>
 		</div>
 		<div class="col-md-3">
 			<%= link_to favourite_user_path(@user) do %>
 				<h4 class ="logotitle">Favourites</h4>
 			<% end %>
 			
 			<div class="row">
 			<% @lib.each do |lib| vn = lib.vn %>
 					<div class="user-favcolumn removecharacterpadding">
 					<%= link_to vn_path(vn) do %>
 						 <%= image_tag(vn.image_poster,:class => "user-favimg") %>
 					<% end %>
 					</div>
 			<% end %>
 			</div>
 		</div>
 		<!-- end !-->
 	</div>
</div>	

<% if current_user == @user %>
<div class="user-createpost">
	<div class="container">
		<div class="row">
			
				<div class="col-md-9">
					<%= simple_form_for @new_post do |f| %>
					<%= f.input :detail,placeholder: "What are you doing right now?",label: false,input_html: {style: "height:100px;"}  %>

		 			 <%= f.button :submit , class: "btn btn-success pull-right user-postbutton",data:{ disable_with: "Creating Post...."} %>
		 			 <% end %>
				</div>
			
		</div>
	</div>
</div>
<% end %>

<div class="user-post">
<div class="container user-playing">
	<% @posts.each do |post| %>
	<% vn = post.library_entry.vn if post.library_entry %>
	<div class="row">
	<div class="col-md-9">
	<div class="panel panel-default">
  	<div class="panel-body">
  		<% if current_user == @user %>
		<%= button_to post,:method=>:delete,:class =>"btn btn-danger user-postdelete",data:{ disable_with: "Deleting Post...."} do %>
			<i class="fa fa-trash-o"></i>
		<% end %>
		<% end %>
		<div class="col-md-2">
			<% if post.library_entry %>
			<%= link_to image_tag("#{vn.image_poster.url}",:alt => "#{vn.name}", :class=> "img-responsive pull-left"), vn_path(vn)  %>
			<% else %>
				<% if !@user.poster_image.blank? %>
					<%= image_tag(@user.poster_image.url,:alt => "#{@user.name}",:class =>"img-responsive pull-left") %>
				<% else %>
					 <%= image_tag("default_avatar.jpg",:alt => "#{@user.name}",:class =>"img-responsive pull-left") %>
				<% end %>
			<% end %>
		</div>
		<div class="col-md-10">
			<h4><%= post.detail %></h4>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<% if post.library_entry %>
					<ul class="list-inline">
					<% vn.genres.each do |genre| %>
						<li><%= link_to genre.name,genre_path(genre) %></li>
					<% end %>
					</ul>
					<% end %>
				</div>
				<div class="col-md-4">
				<h5 class="user-time vn-postdate"><%= time_ago_in_words(post.created_at) %> ago.</h5>	
				</div>		
					<!-- end of nested divs-->
			</div>
		</div>
	</div></div> <!---panels -->
</div>
	</div><!---row -->
	<% end %>

	<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div></div>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

		<% if user_signed_in? %>
		<div class="user-createpost">
		<div class="row">
			
				<div class="col-md-9">
					<%= simple_form_for @new_comment do |f| %>
					<%= f.input :detail,placeholder: "Post a comment?",label: false,input_html: {style: "height:70px;"}  %>
					<%= f.hidden_field :wall_author_id,value: @user.id %>
		 			 <%= f.button :submit , class: "btn btn-success pull-right user-postbutton",data:{ disable_with: "Creating Comment...."} %>
		 			 <% end %>
				</div>
			
		</div>
		</div>
		<% end%>
<!-- 
		<a href="#" id="add_comment_link">Comments</a>
		<a href="#" id="hide_comment_link">hide</a> -->
		<% @comments.each do |comment| %> 
		<div class="row">

		<div class="col-md-2">
			<%= image_tag(comment.post_author.poster_image.url,:class => "img-responsive") %>
		</div>
		<div class="col-md-7" id ="show_comment">
			<p><span class="text-primary default-text"><%= link_to comment.post_author.name,user_path(comment.post_author) %> </span><span class="vn-postdate"> 5 minutes ago</span></p> 
		<p><%= comment.detail %> </p>
		</div>

		</div>
		<% end %>
		
	<%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
		</div>
</div></div>