<% news_title @news.title %>
<% description @news_description %>
<% image_url asset_url(@news.featured_image) %>
<% content_for :twitter_tags do %>
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@visualnoveler">
	<meta name="twitter:creator" content="@visualnoveler">
	<meta name="twitter:title" content="<%= @news.title %>">
	<meta name="twitter:description" content= "<%= @news_description%>">
	<meta name="twitter:image" content="<%= asset_url(@news.featured_image) %>">
<% end %>

<script>
    $("body").floatingSocialShare({
        buttons: ["facebook", "twitter"],
        text: "share with: "
    });
</script>
<script type="text/javascript">
// 	var url = "https://visualnoveler.com/news/<%= @news.slug %>"
//   DiscourseEmbed = { discourseUrl: 'https://forums.visualnoveler.com/',
//                      discourseEmbedUrl: url };

//   (function() {
//     var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
//     d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
//     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
//   })();
// </script>

<section id ="news-markdown">
<div class="container container-news">
	<div class="row news-post">
		<div class="col-md-12 ">
			<%= render 'layouts/news_full',locals:{news: @news} %>
			<div id='discourse-comments'></div>
		</div>
	</div>
</div>

</section>