<%= title "Rat Simulator" %>
<div class="uk-container uk-container-center">
      <div class="uk-grid">
        <div id="navigation" class="uk-width-medium-1-4">
          <h1 class="nav-header">Visualnoveler</h1>
          <ul class="uk-nav uk-nav-side">         <li><a href="#factsheet">Factsheet</a></li>
            <li><a href="#description">Description</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#trailers">Videos</a></li>
            <li><a href="#images">Images</a></li>
            <li><a href="#logo">Logo &amp; Icon</a></li>     
          </ul>
        </div>
        <div id="content" class="uk-width-medium-3-4"><%= image_tag("rat-simulator/header.png",class:"header") %><div class="uk-grid">
            <div class="uk-width-medium-2-6">
              <h2 id="factsheet">Factsheet</h2>
              <p>
                <strong>Developer:</strong><br/>
                <%= link_to "Visualnoveler",root_path %>
              </p>
              <p>
                <strong>Website:</strong><br/>
                <%= link_to "Rat Simulator",rat_simulator_path %>
              </p>
              <p>
                <strong>Press / Business contact:</strong><br/>
                <a href="mailto:wraithseeker@visualnoveler.com">wraithseeker@visualnoveler.com</a>
              </p>
              <p>
                <strong>Steam Greenlight:</strong><br/>
                <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=849825292">Greenlight Link</a>
              </p>
              <p>
                <strong>Releases</strong><br/>
                <a href="http://store.steampowered.com/app/508230">Anime Studio Simulator</a>
              </p> 
              <p>
                <strong>Estimated Release Date:</strong><br/>
                April 2017
              </p>
               <p>
                <strong>Platforms:</strong><br/>
                PC: Steam (Windows)
              </p>
              <p>
                <strong>Retail Price:</strong><br/>
                $5 (Steam Early Access)
              </p>     
            </div>
            <div class="uk-width-medium-4-6">
              <h2 id="description">Description</h2>
                <p>
                  Rat Simulator is a game about a rat's life in a household. No longer do you need to wonder what they get up to when humans are around, as this state-of-the-art computer simulation models the complete rat experience. Consume food and wreck destruction in the house so you can build a rat’s paradise.  
                </p>

                <p>Mess is yours to make in this survival stealth role-playing simulator as you experience the life of a hunted rat by pesky humans! </p>
                <p>Rat Simulator will have a few hours worth of gameplay through objectives in the game as you progress to take over the household. </p>
              <h2 id="features">Features</h2>
              <ul>
                <li>Play as a Rat</li>
                <li>Stealth gameplay</li>
                <li>Be a pest </li>
                <li>Wreck havoc in the house </li>
                <li>Make a home for rats</li>
              </ul>
              
            </div>
          </div>

          <hr>

          <h2 id="trailers">Videos</h2>
          <p>
            <div class="uk-responsive-width iframe-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/UiqiFHfftTg" frameborder="0" allowfullscreen></iframe>
          </div>
          </p>        
          <hr>
          <h2 id="images">Images</h2>
          <!-- <a href="images/images.zip"><div class="uk-alert">download all screenshots &amp; photos as .zip (5MB)</div></a> -->
          <div class="uk-grid images">
            

            <% (1..9).each do |i| %>
              <div class="uk-width-medium-1-2">
                <%= link_to(image_tag("rat-simulator/screenshots/#{i}.png",style:"padding-bottom:20px;"),asset_url("rat-simulator/screenshots/#{i}.png")) %>
              </div>
            <% end %>
          </div>   

          <hr>

          <h2 id="logo">Logo &amp; Icon</h2>
          <div class="uk-grid images">
            <div class="uk-width-medium-1-2">
              <%= link_to image_tag("rat-simulator/logo.png",class:"img-responsive"),asset_url("rat-simulator/logo.png") %>
            </div>
          </div>         
          <hr>

          <p><a href="http://dopresskit.com/">presskit()</a> by Rami Ismail (<a href="http://www.vlambeer.com/">Vlambeer</a>)
        </div>
      </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.js"></script>   
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js"></script>
    <script type="text/javascript">
      $( document ).ready(function() {
        var container = $('.images');

        container.imagesLoaded( function() {
          container.masonry({
            itemSelector: '.uk-width-medium-1-2',
          });
        });
      });
    </script>