<% title "About Visualnoveler" %>
<% description ("About Visualnoveler. Start tracking and discovering visual novels today at Visualnoveler!") %>
<div class="container">
	<div class="row">

		<div class="col-md-8">
			<h2>About Visualnoveler </h2>
			<p><b>Visualnoveler</b> is a web app that is in <b>pre-alpha</b> which is designed for fans of visual novels to track and discover visual novels. It's a platform that lets people manage and compare their own list of libraries containing visual novels and also to introduce visual novels to newcomers through bite-sized information.<br><br>You can find reviews and walkthroughs of visual novels in the database and the site forums is now up for users to suggest new features or to suggest edits to the visual novels in the database. <br><br>
			As Visualnoveler is still in the early stages of development, we are actively looking for new staff and ways to improve user experience on the website.
			</p>

			<h3>Website Features</h3>
			<ol type="1">
				<li class="about-list">Tracking Visual Novels - You can create your own list of VNs and compare it with your friends.</li>
				<li class="about-list">Discover Visual Novels(Ongoing) - Visual novels are sorted by genres, walkthroughs, translation status and ratings </li>
				<li class="about-list">User Profiles - Manage your lists,post status updates or write reviews about visual novels.</li>
				<li class="about-list">Forums - Discuss visual novels on the <a href="http://forums.visualnoveler.com">forums</a> or recommend site improvements.</li>
			</ol>

				<h3>Upcoming Features</h3>
			<ol type="1">
				<li class="about-list">Visual Novel Contests - Determine your favourite visual novel or characters through elimination brackets</li>
				<li class="about-list">Homepage - Have a homepage for the website to update users of the features that are implemented </li>
				<li class="about-list">Visual Novel Database Cleanup - Link vns to genres and clean up the misplaced data in the database.</li>
			</ol>
		</div>
		<div class="col-md-8">
		<h2> Suggest new features or want to contribute?</h2>
		<p>If you have any feature that you think would be cool to include in the web-app or you just want to contribute to the development of Visualnoveler, you can e-mail me at kencwyy@hotmail.com</p>
		</div>

		<div class="col-md-8" style="padding-bottom:25px;">
			<h2>Helpful Visual Novel Links</h2>
			<%= link_to 'Recommended Visual Novel Resources' ,pages_resources_path,:class =>"text-primary",style: "font-size:1.2em;" %><br>
			<%= link_to 'Curated List of Visual Novels for Beginners' ,pages_recommendation_path,:class =>"text-primary",style: "font-size:1.2em;" %><br>
			<%= link_to 'Fuwanovel','http://fuwanovel.net/',:class =>"text-primary",style: "font-size:1.2em;" %><br>
			<%= link_to 'Monthly Eroge Releases',"https://omochikaeri.wordpress.com/",:class =>"text-primary",style: "font-size:1.2em;" %>
			 <br>
			<%= link_to 'Adding a new VN to the database',pages_help_path,:class =>"text-primary",style: "font-size:1.2em;" %>
		</div>
	</div>
		
</div>