<% title "About Visualnoveler" %>
<% description ("About Visualnoveler. Start tracking and discovering visual novels today at Visualnoveler!") %>
<div class="container">
	<div class="row">

		<div class="col-md-8">
			<h2>About Visualnoveler </h2>
			<p><b>Visualnoveler</b> is a web app that is in <b>pre-alpha</b> which is designed for fans of visual novels to track and discover visual novels. It's a platform that lets people manage and compare their own list of libraries containing visual novels and also to introduce visual novels to newcomers through bite-sized information.<br><br>There are also reviews and walkthroughs of the visual novels included in this web-app.  </p>

			<h3>Current Implemented Features</h3>
			<ol type="1">
				<li class="about-list">Tracking Visual Novels - Create your own list of VNs and compare it with the lists of your friends</li>
				<li class="about-list">Discovering Visual Novels(Ongoing) - Vns categories -- genres,translations or have existings walkthroughs </li>
				<li class="about-list">User Profiles - Manage your lists,post status updates or comment on your friend's wall.</li>
				<li class="about-list">Visual Novel Database - The main vn database is now filled up</li>
			</ol>

				<h3>Upcoming Features</h3>
			<ol type="1">
				<li class="about-list">Visual Novel Contests - Determine your favourite visual novel or characters through elimination brackets or simply start a poll</li>
				<li class="about-list">Homepage - Have a homepage for the website to update users of the features that are implemented </li>
				<li class="about-list">Visual Novel Database Cleanup - Link vns to genres and clean up the misplaced data in the database.</li>
			</ol>
		</div>
		<div class="col-md-8">
		<h2> Suggest new features or want to contribute?</h2>
		<p>If you have any feature that you think would be cool to include in the web-app or you just want to contribute to the development of Visualnoveler, you can e-mail me at kencwyy@hotmail.com</p>
		</div>

		<div class="col-md-8" style="padding-bottom:25px;">
			<h2>Helpful Visual Novel Links</h2>
			<%= link_to 'Recommended Visual Novel Resources' ,pages_resources_path,:class =>"text-primary",style: "font-size:1.2em;" %><br>
			<%= link_to 'Visualnoveler devblog' ,"http://blog.visualnoveler.com",:class =>"text-primary",style: "font-size:1.2em;" %> <br>
			<%= link_to 'Fuwanovel','http://fuwanovel.net/',:class =>"text-primary",style: "font-size:1.2em;" %><br>
			<%= link_to 'Monthly Eroge Releases',"https://omochikaeri.wordpress.com/",:class =>"text-primary",style: "font-size:1.2em;" %>
			 <br>
			<%= link_to 'Guide to adding a new visual novel in the database',pages_help_path,:class =>"text-primary",style: "font-size:1.2em;" %>
		</div>
	</div>
		
</div>