<% title "Characters - Anime Studio Simulator" %>
 <style>
body { 
  background: url(<%= asset_path('anime-sim/anime_sim_bg-blur.jpg') %>) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 </style>


 <div class="container">
  <div class="row">
    <div class="col-md-8 col-centered" style="margin-bottom:35px;">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag(asset_path("anime-sim/yukari.png"),class:"img-responsive") %>
        </div>
        <div class="col-md-8">
          <h2>Yukari</h2>
          <h3 class="anime-sim-char-roles">Role: Director</h3>
          <p>Yukari loves anime and dreams of directing her own anime series one day. Filled with a strong sense of passion, she wants to produce anime that will be deeply rooted in the hearts of anime fans.</p>
        </div>
      </div>

       <div class="row">
        <div class="col-md-4">
          <%= image_tag(asset_path("anime-sim/mayumi.png"),class:"img-responsive") %>
        </div>
        <div class="col-md-8">
          <h2>Mayumi</h2>
          <h3 class="anime-sim-char-roles">Role: Sound Director</h3>
          <p>Mayumi is always lost in her own world of music even back when she was in school. Her interest in music stems from Vocaloid and she enjoys remixing and producing new sound tracks and uploading them on the Net. 
          </p>
          <p>
          Mayumi is a close friend of Yukari and has known each other for a long time.
          </p>
        </div>
      </div>

       <div class="row">
        <div class="col-md-4">
          <%= image_tag(asset_path("anime-sim/yuuko.png"),class:"img-responsive") %>
        </div>
        <div class="col-md-8">
          <h2>Yuuko</h2>
          <h3 class="anime-sim-char-roles">Role: Character Artist</h3>
          <p>Yuuko is fascinated with drawing anime content and often spends her time online in Pixiv doodling sketches.
          </p>
          <p> Yukari scouted out Yuuko as a character designer on the Net when she started putting forth her plan into motion.</p>
        </div>
      </div>

       <div class="row">
        <div class="col-md-4">
          <%= image_tag(asset_path("anime-sim/sumiko.png"),class:"img-responsive") %>
        </div>
        <div class="col-md-8">
          <h2>Sumiko</h2>
          <h3 class="anime-sim-char-roles">Role: Background Artist</h3>
          <p>Sumiko is the younger sister of Yuuko. She enjoys bringing scenes to life and often collaborates with her sister.</p>
        </div>
      </div>

       <div class="row">
        <div class="col-md-4">
          <%= image_tag(asset_path("anime-sim/shunsuke.png"),class:"img-responsive") %>
        </div>
        <div class="col-md-8">
          <h2>Shunsuke</h2>
          <h3 class="anime-sim-char-roles">Role: Writer</h3>
          <p>Shunnsuke used to be a member of the literature club and enjoys writing anime fan fictions. After noticing Yuuko’s plan, he approached Yuuko to join her team to be a writer.</p>
        </div>
      </div>
     




    </div>
  </div>
 </div>