<% title "Characters - Anime Studio Simulator" %>
 <style>
body { 
  background: url(<%= asset_path('anime-sim/anime_sim_bg-blur.jpg') %>) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 </style>


 <div class="container">
  <div class="row">
    <div class="col-md-8 col-centered" style="margin-bottom:35px;">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag(asset_path("anime-sim/yukari.png"),class:"img-responsive") %>
        </div>
        <div class="col-md-8">
          <h2>Yukari</h2>
          <h3 class="anime-sim-char-roles">Role: Director</h3>
          <p>Yukari loves anime and dreams of directing her own series. Filled with passion and focused on her goal, she wants to produce an anime that will become deeply rooted in the hearts of anime fans.</p>
        </div>
      </div>

       <div class="row">
        <div class="col-md-4">
          <%= image_tag(asset_path("anime-sim/mayumi.png"),class:"img-responsive") %>
        </div>
        <div class="col-md-8">
          <h2>Mayumi</h2>
          <h3 class="anime-sim-char-roles">Role: Sound Director</h3>
          <p>Mayumi’s interest in music stems from Vocaloid, and she enjoys remixing and producing new sound tracks to upload online. She often gets lost in her own world of music, even in school, but her cheerful demeanor prevents anyone from staying annoyed at her. </p>
          <br>
          <p>Mayumi and Yukari have been close friends for years.</p>
        </div>
      </div>

       <div class="row">
        <div class="col-md-4">
          <%= image_tag(asset_path("anime-sim/yuuko.png"),class:"img-responsive") %>
        </div>
        <div class="col-md-8">
          <h2>Yuuko</h2>
          <h3 class="anime-sim-char-roles">Role: Character Artist</h3>
          <p>Yuuko loves to draw and often spends her time doodling sketches on Pixiv. Yukari found her online while searching for a character artist. Although quiet and introverted, Yuuko is dedicated to the project. </p>
        </div>
      </div>

       <div class="row">
        <div class="col-md-4">
          <%= image_tag(asset_path("anime-sim/sumiko.png"),class:"img-responsive") %>
        </div>
        <div class="col-md-8">
          <h2>Sumiko</h2>
          <h3 class="anime-sim-char-roles">Role: Background Artist</h3>
          <p>Sumiko is Yuuko’s younger sister, who shares her passion for art but not her soft-spoken nature. Never afraid to speak her mind, she enjoys bringing scenes to life and often collaborates with her sister.</p>
        </div>
      </div>

       <div class="row">
        <div class="col-md-4">
          <%= image_tag(asset_path("anime-sim/shunsuke.png"),class:"img-responsive") %>
        </div>
        <div class="col-md-8">
          <h2>Shunsuke</h2>
          <h3 class="anime-sim-char-roles">Role: Writer</h3>
          <p>Shunnsuke was a member of the literature club in school, and he enjoys writing anime fan fiction. After hearing about Yuuko’s project, he approached her and asked if he could join her team as a writer. </p>
        </div>
      </div>
     




    </div>
  </div>
 </div>