<% title "Visual Novel Blogs" %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Visual Novel Blogs</h2>
			<p>A curated list of visual novel blogs that we recommend.</p>
		
				<h4>Otome</h4>
				<p><%= link_to 'かわいいじゃなきゃダメなの','http://breadmasterlee.com/',target:"_blank",:class =>"text-primary",style: "font-size:1.2em" %> <br>
				<%= link_to 'Bishie Holic','http://bishieholic.me/',target:"_blank",:class =>"text-primary",style: "font-size:1.2em" %> <br>
				<%= link_to 'Figuratively Speaking','http://figurativelyspeaking.me/',target:"_blank",:class =>"text-primary",style: "font-size:1.2em" %> <br>
				<h4> Yuri</h4>
				<%= link_to 'Yuri Nation','https://yurination.wordpress.com/',target:"_blank",:class =>"text-primary",style: "font-size:1.2em" %> <br>
				<%= link_to 'Yuri Reviews','https://yurireviews.com/',target:"_blank",:class =>"text-primary",style: "font-size:1.2em" %> <br>
				
				<h4> Others</h4>
				<%= link_to 'Amaenboda','https://amaenboda.wordpress.com/',target:"_blank",:class =>"text-primary",style: "font-size:1.2em" %><br>
				<%= link_to 'TheOtakuspot','http://theotakuspot.animeblogger.net/visual-novels/',target:"_blank",:class =>"text-primary",style: "font-size:1.2em" %> <br>
				<%= link_to 'Otakuoverdrive','http://otakuoverdrive.com/',target:"_blank",:class =>"text-primary",style: "font-size:1.2em" %> <br>
				<%= link_to 'Azusan Tiara',"http://azusantiara.com/",target:"_blank",:class =>"text-primary",style: "font-size:1.2em"  %>
				</p>
		</div>
		
	</div>
</div>