<div class="col-md-4">
	<h3> Translation Updates</h3>
	<ul class="list-unstyled">
		<% @translations.each do |translation| %>
			<li> 
				<b><%= truncate_html(translation.vn.name,length: 25,omission: '..') %></b> - <%= truncate_html(translation.post,length: 65,omission: '..') %>
			</li>
		<% end %>
	</ul>
	<%= link_to 'View all',translations_path %>

	<h3> Recent Discussions</h3>
	<ul class="list-unstyled">
		<% @translations.each do |translation| %>
			<li> 
				<b><%= truncate_html(translation.vn.name,length: 25,omission: '..') %></b> - <%= truncate_html(translation.post,length: 65,omission: '..') %>
			</li>
		<% end %>
	</ul>
	<%= link_to 'View all',translations_path %>

	<h3>Random Visual Novels</h3>
	<% @random_vns.each do |vn| %>
		<div class="row">
			<div class="col-md-3">
				<%= image_tag(vn.image_poster,class:"img-responsive") %>
			</div>
			<div class="col-md-9">
				<%= vn.name %>
			</div>
		</div>
	<% end %>
</div>