<div class="col-md-8">
	<h2>New Visual Novel Releases</h2>
			
	<h2> <%= link_to "Latest News",news_index_path %> </h2>
	<div class="row">
		<ul class="list-unstyled homepage-news">
		<% @news.each do |news| %>
			<li>
				<div class="row">
					<div class="col-md-3">
						<%= image_tag(news.featured_image.url(:thumb),class:"img-responsive") %>
					</div>
					<div class="col-md-9">
						<h4><%= link_to news.title,news_path(news) %></h4>
						<!-- to remove images !-->
						<%= truncate_html(markdown(news.content).gsub(/<img([^>])+/,""),length: 150) %>
					</div>
				</div>
			</li>
		<% end %>
		</ul>
	</div>
			<div class="col-md-4">
			<h2> Top Visual Novels</h2>
			<div class="row">
				<div class="col-md-8">
					<%= image_tag(@top_vn.image_poster,class:"img-responsive") %>
				</div>
				<div class="col-md-4">
					<% @top_vns.each do |vn| %>
						<%= image_tag(vn.image_poster,class:"img-responsive",style:"max-width:66px;") %>
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<h2> Featured Visual Novels</h2>
			<div class="row">
				<div class="col-md-8">
					<%= image_tag(@top_vn.image_poster,class:"img-responsive") %>
				</div>
				<div class="col-md-4">
					<% @top_vns.each do |vn| %>
						<%= image_tag(vn.image_poster,class:"img-responsive",style:"max-width:66px;") %>
					<% end %>
				</div>
			</div>
		</div>

		</div>