<% title "Visual Novel FAQ" %>
<% description ("General FAQ for visual novels regarding purchases, text hooking guides, troubleshooting issues such as setting Japanese Locale and other commonly asked questions.") %>
<div class="container container-news ">
	<div class="row">
		<div class="col-md-12">
			<h2> Visual Novel FAQ </h2>
			<p>Frequently asked questions for visual novels regarding purchases, text hooking guides, troubleshooting issues such as setting Japanese Locale and other commonly asked questions.</p>
			<h3>Useful Visual Novels Links</h3>
	
			<p>
			<%= link_to 'Recommended Visual Novels for Beginners' ,recommendation_path,target:"_blank",:class =>"text-primary",style: "font-size:1.2em;" %><br>
			<%= link_to 'How to play untranslated Visual Novels?','https://amaenboda.wordpress.com/2012/03/26/an-aero-gamers-guide-to-using-atlas/',:class =>"text-primary",target:"_blank",style: "font-size:1.2em;" %><br>
			<%= link_to 'Monthly Eroge Releases',"https://omochikaeri.wordpress.com/",target:"_blank",:class =>"text-primary",style: "font-size:1.2em;" %> <br>
			<%= link_to 'Buying Visual Novels',"https://www.reddit.com/r/visualnovels/wiki/buy",target:"_blank",style:"font-size:1.2em" %>
			 <br>
			<%= link_to 'Visual Novel translation status','http://blog.fuwanovel.net/',target:"_blank",:class =>"text-primary",style: "font-size:1.2em;" %> <br>
			<%= link_to 'Adding a new VN to the database',help_path,target:"_blank",:class =>"text-primary",style: "font-size:1.2em;" %>
			</p>

		<h3>Community</h3>
			<p ><%= link_to 'Fuwanovel Forums','http://forums.fuwanovel.net/',target:"_blank",:class =>"text-primary",style: "font-size:1.2em;" %> <br>
			<%= link_to 'Reddit Visualnovels','https://www.reddit.com/r/visualnovels/',target:"_blank",:class =>"text-primary",style: "font-size:1.2em;" %>
			<br>
			<%= link_to 'Visual Novel Database','http://vndb.org',target:"_blank",:class =>"text-primary",style: "font-size:1.2em;" %>
			</p>

		<h3>Troubleshooting Visual Novels</h3>

			<p><%= link_to 'Setting Japanese Locale',"http://fuwanovel.net/faq/setting-windows-to-japanese-locale",target:"_blank",style: "font-size:1.2em;" %><br>
			<%= link_to 'Troubleshooting FAQ',"http://visual-novels-general.wikia.com/wiki/Troubleshooting_and_Common_Problems",target:"_blank",style: "font-size:1.2em;" %><br>
			<%= link_to 'Other problems?',"https://www.reddit.com/r/visualnovels/wiki/problems",target:"_blank",style: "font-size:1.2em;" %></p>
		</div>
		
		
	</div>
</div>