 <div class="container">
    <div class="row">
       <%= image_tag "landingbg.jpg",:class =>"wrapper" %>
       <div class="col-xs-12 text-center" style="padding-top:16%">
          <strong><h1 style="color:white;" class="home-cta">Track & Discover Visual Novels</h1></strong>
          <h2 class="default-font home-emailtext">Sign up for the Beta</h2>
          <% unless user_signed_in? %>
            <ul class="list-inline" style="padding-left:10px;padding-top:20px;">
              <li><%= link_to omniauth_authorize_path(:user,"facebook"),class: 'btn btn-facebook btn-lg' do %>
               <span class="fa fa-facebook" style="padding-right:2px;"></span>
               <%= "Facebook" %>
              <% end %></li>

              <li><%= link_to omniauth_authorize_path(:user,"google_oauth2"),class: 'btn btn-googleauth btn-lg' do %>
             <span class="fa fa-google" style="padding-right:2px;"></span>
             <%= "Google" %>
              <% end %> </li>

              <li> <%= link_to register_path,class: 'btn btn-github btn-lg home-registerbtn' do %>
               <%= "Register" %>
              <% end %>
            </li>
            </ul>
          <% end %>
        </div>
            
         

         
</div>

        </div> <!-- /row -->
    
  </div> <!-- /container full -->

  <div class="footer-home">
  <div class="container">
    <div class="row" style="padding-bottom:40px;padding-top:25px;padding-left:25px;">
      <div class="col-md-4">
        <h1><i class="fa fa-sitemap" style="padding-right:10px;"></i>Contests</h1>
        <p class="lead" style="padding-top:10px;">Start your own contest to determine the best visual novel or even your best waifu. <br><br> If you're lazy you could just nominate for the best girl instead.</p>
      </div>
      <div class="col-md-4">
        <h1><i class="fa fa-diamond" style="padding-right:10px;"></i>Discover</h1>
        <p class="lead" style="padding-top:10px;">Discover new visual novels that you have been missing out on before you stumbled upon here. <br><br> It's easy to find translated visual novels, popular visual novels and also other gems inside if you give it a go!</p>
      </div>
      <div class="col-md-4">
        <h1><i class="fa fa-book" style="padding-right:10px;"></i>Library</h1>
        <p class="lead" style="padding-top:10px;">Create your own library of visual novels and track your progress on the game. <br><br>Go ahead and rate or review your favourite visual novel as god-tier and tell the community why. </p>
      </div>
  </div>
</div>
