<% title "Visual Novel Resources" %>
<% description ("A list of recommended visual novel resources gathered from the Internet for visual novel fans.") %>
<div class="container">
	<div class="row">
		<h2> Visual Novel Resources  </h2>
		<div class="col-md-12">
			<h3>Helpful Visual Novel Links</h3>
			<p>
			<%= link_to 'Recommended Visual Novel Resources' ,resources_path,target:"_blank",:class =>"text-primary",style: "font-size:1.2em;" %><br>
			<%= link_to 'Curated List of Visual Novels for Beginners' ,recommendation_path,target:"_blank",:class =>"text-primary",style: "font-size:1.2em;" %><br>
			<%= link_to 'Comprehensive guide to playing untranslated VNs','https://amaenboda.wordpress.com/2012/03/26/an-aero-gamers-guide-to-using-atlas/',:class =>"text-primary",target:"_blank",style: "font-size:1.2em;" %><br>
			<%= link_to 'Monthly Eroge Releases',"https://omochikaeri.wordpress.com/",target:"_blank",:class =>"text-primary",style: "font-size:1.2em;" %>
			 <br>
			<%= link_to 'Adding a new VN to the database',help_path,target:"_blank",:class =>"text-primary",style: "font-size:1.2em;" %>
			</p>
		</div>
		<h3>Community</h3>
		<div class="col-md-12">
			<p ><%= link_to 'Fuwanovel Forums','http://forums.fuwanovel.net/',target:"_blank",:class =>"text-primary",style: "font-size:1.2em;" %> <br>
			<%= link_to 'Reddit Visualnovels','https://www.reddit.com/r/visualnovels/',target:"_blank",:class =>"text-primary",style: "font-size:1.2em;" %>
			<br>
			<%= link_to 'Visual Novel translation status','http://blog.fuwanovel.net/',target:"_blank",:class =>"text-primary",style: "font-size:1.2em;" %> <br>
			<%= link_to 'Visual Novel Database','http://vndb.org',target:"_blank",:class =>"text-primary",style: "font-size:1.2em;" %>
			</p>
		</div>
		<h3>Troubleshooting Visual Novels</h3>
		<div class="col-md-12">
			<p><%= link_to 'Setting Japanese Locale',"http://fuwanovel.net/faq/setting-windows-to-japanese-locale",target:"_blank" %><br>
			<%= link_to 'Troubleshooting FAQ',"http://visual-novels-general.wikia.com/wiki/Troubleshooting_and_Common_Problems",target:"_blank" %><br>
			<%= link_to 'Having Issues?',"https://www.reddit.com/r/visualnovels/wiki/problems",target:"_blank" %></p>
		</div>
		
		<h3>Visual Novel Blogs</h3>
		<div class="col-md-12">
			<h4>Otome</h4>
			<p><%= link_to 'かわいいじゃなきゃダメなの','http://breadmasterlee.com/',target:"_blank",:class =>"text-primary",style: "font-size:1.2em" %> <br>
			
			<%= link_to 'Bishie Holic','http://bishieholic.me/',target:"_blank",:class =>"text-primary",style: "font-size:1.2em" %> <br>
			<%= link_to 'Figuratively Speaking','http://figurativelyspeaking.me/',target:"_blank",:class =>"text-primary",style: "font-size:1.2em" %> <br>
			<%= link_to 'Amaenboda','https://amaenboda.wordpress.com/',target:"_blank",:class =>"text-primary",style: "font-size:1.2em" %>
			</p>
		</div>
		<h3>Purchasing</h3>
		<div class="col-md-12">
		<p><%= link_to 'Buying Visual Novels',"https://www.reddit.com/r/visualnovels/wiki/buy",target:"_blank",style:"font-size:1.2em" %></p>

		</div>
		
	</div>
</div>