<% title "Visual Novel Resources" %>
<% description ("A list of recommended visual novel resources gathered from the Internet for visual novel fans.") %>
<div class="container">
	<div class="row">
		<h2> Visual Novel Resources  </h2>

		<h3>Community</h3>
		<div class="col-md-12">
			<p class="lead"><%= link_to 'Fuwanovel Forums','http://forums.fuwanovel.net/',:class =>"text-primary",style: "font-size:1.2em;" %> <br>
			<%= link_to 'Reddit /r/visualnovels','https://www.reddit.com/r/visualnovels/',:class =>"text-primary",style: "font-size:1.2em;" %>
			<br>
			<%= link_to 'VN translation status','http://blog.fuwanovel.net/',:class =>"text-primary",style: "font-size:1.2em;" %> <br>
			<%= link_to 'VN database','http://vndb.org',:class =>"text-primary",style: "font-size:1.2em;" %>
			</p>
		</div>
		<h3>Troubleshooting Visual Novels</h3>
		<div class="col-md-12">
			<p class="lead"><%= link_to 'Setting Japanese Locale',"http://fuwanovel.net/faq/setting-windows-to-japanese-locale" %><br>
			<%= link_to 'Troubleshooting FAQ'," http://visual-novels-general.wikia.com/wiki/Troubleshooting_and_Common_Problems" %><br>
			<%= link_to 'Having Issues?',"https://www.reddit.com/r/visualnovels/wiki/problems" %></p>
		</div>
		<h3>Purchasing</h3>
		<div class="col-md-12">
		<p class="lead"><%= link_to 'Buying Visual Novels',"https://www.reddit.com/r/visualnovels/wiki/buy" %></p>

		</div>
		
	</div>
</div>