<% title 'Edit Character' %>
<h1>Edit</h1>

<div class="container">
	<div class="row">
		<%= simple_form_for @character do |f| %>


		<div class="col-lg-3">
		  <%= f.input :name, input_html: {style: "width:200px;"}, label: 'Name of Visual Novel', error: 'Name is mandatory, please specify one' %>
		 </div>

		  <div class="col-lg-3">
		 	<%= f.input :img_string %>
  			<%= image_tag f.object.img_string.url, :class => "formcharacter" if f.object.img_string? %>
		</div>
		
		<div class="col-lg-12">
		  <%= f.input :summary,input_html: {style: "height:150px;"} %>
		</div>
		 <div class="col-lg-8">

			<%= f.association :vns, :as => :check_boxes %>
		</div>
		<div class="col-lg-12">
		  <%= f.button :submit , class: "btn btn-primary" %>
		   <%= button_to @character,:method=>:delete,:controller => "screenshots",:class =>"btn btn-danger",data:{ disable_with: "Deleting Character...."},style: "margin-left:80px;" do %>
		   <i class="fa fa-trash-o"></i>
				<% end %>
		 </div>
		<% end %>

	</div>

	</div>

</div>