<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
  			<div class="panel-body">
  			<div class="row">
  				<div class="col-md-12">
		  			<h2>Character List
		  				<%= link_to "Characters with no VN",admin_lonely_character_path,:class => "btn btn-default",style:"margin-left:15px;" %>
		  			</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
           			<div class="input-group" id="custom-search-input">
		              	<%= form_tag(search_characters_path, :method => "get", class: "navbar-form admin-search-form", id: "search-form" ) do %>
			                <%= text_field_tag :search, params[:search], class: "form-control search-query", placeholder: "Search Characters" %>
			                <div class="input-group-btn" style="display:inherit;">
			                  <%= button_tag(type: "submit", class: "btn") do %>
			                    <span class=" glyphicon glyphicon-search"></span>
			                  <% end %>
			                </div>
			             <% end %>
		         	</div>
	              </div>
         	 </div>
		<table class="table">
			<h2>Character List 
       			 
			</h2>
			<thead><tr>
				<th>Image</th>
				<th>Name</th>
				<th>Visual Novel</th>
				<th>Edit</th>
				<th>Last updated</th>
			</tr></thead>
			<tbody>
			<% @character.each do |character| %>
				<tr>
				<td><%= image_tag(character.img_string.url,:style =>"height:60px;width:50px;") %></td>
				<td><h5><%= character.name %></h5></td>
				<% if !character.vns.blank? %>
				<td><%= character.vns.first.name%></td>
				<% else %>
				<td>Empty</td>
				<% end %>
				<td><%= link_to 'Edit',edit_character_path(character) %></td>
				<td><%= time_ago_in_words(character.updated_at) %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
			</div></div>
		</div>
	</div>
</div>