<div class="panel panel-default"><div class="panel-body">

	<div class="col-md-2 col-sm-2 col-xs-12">
		<%= link_to image_tag(review.user.poster_image.url,class: "img-responsive vn-reviewposter"),user_path(review.user) %>
		<div class="review-username">
			<%= link_to review.user.name,user_path(review.user),class: "vn-reviewtext summary-text review-username" %>
		</div>
	</div>

	<div class="col-md-10 col-sm-10 col-xs-12">
		<div class="row">
			<div class="col-md-3 col-xs-4">
				<%= get_review_icon(review.rating) %>
			</div>
			<div class="col-md-2 col-xs-4">
				<span class="vn-ratingdiv">Score: <%= review.rating%></span>
			</div>
			<div class="col-md-3 col-xs-4">
				<span class="vn-review-postdate "><%= time_ago_in_words(review.created_at) %></span>
			</div>
			<div class="vn-reviewdetails col-md-12 col-xs-12">
				<%= markdown(review.details) %>
			</div>
			<div class="col-md-12 col-xs-12">
				<% if user_signed_in? %>
				<% if current_user.id == review.user_id %>
				<%= link_to 'Edit Review',edit_vn_review_path(review.vn,review),class: "btn blue-button" %>
				<% end %> 
				<% end %>
			</div>
		</div>
	</div>

</div></div>

	<!-- end of panels !-->