<div class="container">
	<div class="row">

	<h1>Edit Review</h1>

		<%= simple_form_for @review, url: vn_review_path do |f| %>

		<div class="row">
		<div class="col-lg-8">
		  <%= f.input :details,input_html: {:rows => 10} %>
		 </div>	
		</div>
		
		<div class="row">
		<div class="col-lg-12">
			<%= f.input :rating,:as => :radio_buttons, collection: 0..10,item_wrapper_class: "radiobox-inline",:label_html => {:class =>"radio-ratinglabel"},:required => false %>

		  <%= f.button :submit , class: "btn btn-primary" %>
		 </div>
		</div>

		<% end %>
		 <%= link_to vn_review_path(@review.vn,@review),:method=>:delete,:style =>"margin-top:50px;",:class =>"btn btn-danger",data:{ disable_with: "Deleting Review...."} do %>
			 	<i class="fa fa-trash-o" style="padding-right:10px;"></i>Destroy Review
				<% end %>


	</div>

</div>