<div class="container">
	<div class="row">

	<h1 style="display:inline;">Write a Review</h1><%= link_to image_path("markdown.png"), :class => 'fancybox',:style =>"text-decoration:none;", :rel =>'?' do %>
			     <i class="fa fa-question-circle fa-2x"></i>
			     <% end %>

		<%= simple_form_for([@vn,@review]) do |f| %>

		<div class="row">
		<div class="col-lg-8">
		  <%= f.input :details,input_html: {:rows => 21} %>
		 </div>	
		</div>
		
		<div class="row">
		<div class="col-lg-12">
			<%= f.input :rating,collection: 0..10,input_html:{style:"width:120px;"},:selected => 5,:required => false %>
			<%= f.hidden_field :user_id,value: current_user.id %>
			<%= f.hidden_field :vn_id,value: @vn.id %>
		  <%= f.button :submit , class: "btn btn-primary",data:{ disable_with: "Posting.."} %>
		 </div>
		</div>

		<% end %>



	</div>

</div>