<% title "#{@review.vn.name} Review by #{@review.user.name}" %>
<% description (@review.vn.name + " Review - " + @review.details.truncate(300)) %>
<section id="vn-review-section">
<div class="container">
	<div class="row" style="padding-top:20px;">
			<div class="col-md-10 col-sm-10 col-xs-12">
				<div class="panel panel-default"><div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<h4><%= link_to @review.vn.name,vn_path(@review.vn) %></h4>
					</div>
					<div class="col-md-4 col-xs-4">
						<%= link_to image_tag(@review.user.poster_image.url,class: "vn-reviewposter img-circle"),user_path(@review.user) if @review.user.poster_image? %> 
						<%= link_to @review.user.name,user_path(@review.user),class: "vn-review-postdate vn-review-username" %>
					</div>
			
					<div class="col-md-8 col-xs-8 col-sm-5">
						<ul class="list-unstyled list-review pull-right">
							<li>
								<span class="vn-review-postdate"><%= @review.created_at.strftime("%B, %d, %Y") %></span>
							</li>
							<li>
								<i class="fa fa-star" aria-hidden="true"></i>
				 				<%= @review.rating %>
							</li>
						</ul>
					</div>
				</div>

				<div class="row">
					<div class="vn-reviewdetails col-md-12 col-xs-12">
						<%= markdown(@review.details) %>
					</div>
					<div class="col-md-12 col-xs-12">
						<% if user_signed_in? %>
						<% if current_user.id == @review.user_id %>
						<%= link_to 'Edit Review',edit_vn_review_path(@review.vn,@review),class: "btn blue-button" %>
						<% end %> 
						<% end %>
					</div>
				</div>
			</div>

		</div></div>

		<!-- end of panels !-->
	</div>
</div>
</section>