<footer>
    <div class="container">
      <div class="row">      
        <div class="col-md-12 col-lg-12 col-centered">  
        <ul class="list-inline" style="padding-top:7px;padding-bottom:7px;">
          <li class="footer-text"style="font-size:14px !important;"> &copy; Visualnoveler</li>
          <li> <%= link_to 'About' ,about_path ,class: "footer-text" %> </li>
          <li> <%= link_to 'Visual Novel FAQ' , faq_path ,class: "footer-text" %> </li>
          <li> <%= link_to 'Recommendations' ,recommendation_path ,class: "footer-text" %> </li>
          <li> <%= link_to 'Blogs' ,blogs_path ,class: "footer-text" %> </li>
          <li> <%= link_to 'Anime Studio Simulator' ,anime_studio_sim_path ,class: "footer-text" %> </li>
          <li> <%= link_to 'Ascendant Hearts' ,ascendant_hearts_path ,class: "footer-text" %> </li>
          <div class="list-inline footer-social" style="padding-top:7px;">
                <li><a style="color:white;" href="https://twitter.com/visualnoveler" title="Twitter"><i class="fa fa-twitter fa-lg"></i></a></li>
                <li><a style="color:white;" href="https://facebook.com/visualnoveler" title="Facebook"><i class="fa fa-facebook fa-lg"></i></a></li>
          </div>
        </ul>
      </div>
      <!-- !-->
      </div>
    </div>

</footer>