<% @news.each do |news| %>
	<div class="news">

		<%= render 'news/meta',news: news,news_page: false %>

		<h1> 
			<%= link_to news.title,news_path(news),'data-no-turbolink' =>"true",class: "title-link" %> 
		</h1>
		<%= image_tag(news.featured_image.url,class: "news-featuredimg") unless news.featured_image.blank? %>
		<% if news.content.length > 400 %>
			<%= markdown(HTML_Truncator.truncate(news.content,100)) %>
		<% else %>
			<%= markdown(news.content) %>
		<% end %>
		<%= link_to 'Read More',news_path(news),'data-no-turbolink' =>"true",class:"btn blue-button read-more" unless news.content.length < 400 %>
		<hr class="news-hr">
	</div>
<% end %>