<div class="news">
	<%= link_to 'â† News', news_index_path ,class:"news-back" %>
	<div class="news-meta">
		<%= @news.created_at.strftime("%d %b %Y") %>
		<span class="author">
			<%= link_to @news.user.name,user_path(@news.user) %>
		</span>
	 	<ul class="tags-list list-inline">
	 		<% @news.tags.each do |tag| %>
				<li><%= link_to tag.name, tag_path(tag),class:"tags-item" %> </li>
			<% end %>
		</ul>
		<%= link_to 'Edit Post',edit_news_path(@news),'data-no-turbolink' =>"true", class:"btn blue-button",style:"color:white; margin-left:65px;" if user_signed_in? && (current_user.admin? || current_user.mod? || current_user.writer?) %>
	</div>
 	<h1> <span class="title-link"><%= @news.title %> </span> </h1>
 	<%= image_tag(@news.featured_image.url,alt: @news.title) unless @news.featured_image.blank? %>
	<%= markdown(@news.content) %>
	<div class="news-share-div">
		<share-button class= "btn blue-button share-button"></share-button>
	<div class="news-related">
		<hr>
		<% if @random %>
			<h3>Other Articles</h3>
		<% else %>
			<h3>Related News</h3>	
		<% end %>	
		<% @related.each do |news| %>
			<% unless news == @news %>
				<div class="col-md-4 col-xs-6 col-sm-4">
					<%= link_to image_tag(news.featured_image.url(:thumb),alt: news.title),news_path(news) unless news.featured_image.blank? %>
					<h3 class="news-related-title"><%= link_to news.title,news_path(news),class: 'title-link' %> </h3>
				</div>
			<% end %>
		<% end %>
	</div>
</div>