<div class="news">
	<%= link_to 'â† News', news_index_path ,class:"news-back" %>
	
	<%= render 'news/meta',news: @news,news_page: true %>
 	<h1> <span class="title-link"><%= @news.title %> </span> </h1>
 	<%= image_tag(@news.featured_image.url,alt: @news.title,class: "news-featuredimg") unless @news.featured_image.blank? %>
	<%= markdown(@news.content) %>
	<div class="news-related">
		<hr>
		<% if @random %>
			<h3>Other Articles</h3>
		<% else %>
			<h3>Related News</h3>	
		<% end %>	
		<% @related.each do |news| %>
			<% unless news == @news %>
				<div class="col-md-4 col-xs-6 col-sm-4">
					<%= link_to image_tag(news.featured_image.url(:thumb),alt: news.title),news_path(news),'data-no-turbolink' =>"true" unless news.featured_image.blank? %>
					<h4 class="news-related-title"><%= link_to news.title,news_path(news),class: 'title-link','data-no-turbolink' =>"true"%> </h4>
				</div>
			<% end %>
		<% end %>
	</div>
</div>