	<div class="news-meta">
		<%= @news.created_at.strftime("%d %b %Y") %>
		<span class="author">
			<%= link_to @news.user.name,user_path(@news.user) %>
		</span>
	 	<ul class="tags-list list-inline">
	 		<% @news.tags.each do |tag| %>
				<li><%= link_to tag.name, tag_path(tag),class:"tags-item" %> </li>
			<% end %>
		</ul>
		<%= link_to 'Edit Post',edit_news_path(@news), class:"btn blue-button",style:"color:white; margin-left:65px;" if user_signed_in? && (current_user.admin? || current_user.mod? || current_user.writer?) %>
	</div>
 	<h1> <%= link_to @news.title,news_path(@news),class: "title-link" %> </h1>
 	<%= image_tag(@news.featured_image.url) unless @news.featured_image.blank? %>
	<%= markdown(@news.content) %>
	<share-button class= "btn blue-button share-button"></share-button>