<!DOCTYPE html>
<html>
<head>
  <meta content="Start tracking Visual Novels and discover other hidden Visual Novel gems at Visualnoveler" name="description">
  <title>
    <%= if content_for?(:title) then yield(:title) + ' | ' end %>
    Visualnoveler
  </title>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= favicon_link_tag %>

   <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=<%= vns_path %>><span class="navLogo">Visualnoveler</span></a>
        </div>
      <div id="navbar" class="navbar-collapse collapse">

        <% if user_signed_in? %>
         <ul class ="nav navbar-nav">
            <li class="dropdown logotitle-dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle navbar-brand"><span class="logotitle">Create</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><%= link_to "Create Visual Novel", new_vn_path %></li>
                  <li><%= link_to "Create Character", new_character_path %></li>
                  <li><%= link_to "Create Developer", new_developer_path %></li>
                  <li><%= link_to "Create Genre", new_genre_path %></li>
              </ul>
           </li>
         </ul>
         <% end %>

         <ul class ="nav navbar-nav">
            <li class="dropdown logotitle-dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle navbar-brand"><span class="logotitle">Visual Novels</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><%= link_to "What's New", vns_path %></li>

                  <% if user_signed_in? %>
                  <li class="divider"></li>
                  <li class="dropdown-header">My Visual Novels</li>
                  <li><%= link_to "Favourites", favourite_user_path(current_user) %></li>
                  <li><%= link_to "Wishlist", wishlist_user_path(current_user) %></li>
                  <li><%= link_to "Completed", completed_user_path(current_user) %></li>
                  <li><%= link_to "Playing", watch_user_path(current_user) %></li>
                  <% end %>
              </ul>
            </li>

            <li class="dropdown logotitle-dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle navbar-brand"><span class="logotitle">Discover</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><%= link_to 'Genres', genres_path  %></li>
                  <li><%= link_to 'Developer',developers_path %></li>
              </ul>
            </li>
            <% if !user_signed_in? %>
            <li class ="logotitle-dropdown">
               <a href="#" class="navbar-brand" data-toggle="modal" data-target="#login-modal"><span class="logotitle">Login</span> </a>
         
               <a href=<%= register_path %> class="navbar-brand"><span class="logotitle">Register</span> </a>
            </li>
            <% end %>
         </ul>

          <% if user_signed_in? %>
         <ul class="nav navbar-nav navbar-right">
              <li class="dropdown pull-right">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle navbar-brand"><span class="logotitle"><%= current_user.name %></span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><%= link_to "My Profile", user_path(current_user) %></li>
                    <li><%= link_to "Edit Profile", edit_path %></li>
                     <li><%= link_to "Crop Profile Picture", crop_user_path(current_user) %></li>
                    <li><%= link_to "Logout", logout_path, :method => :delete %></li>    
                </ul>
             </li>
               <%= image_tag current_user.poster_image.url, :class => "pull-right",:style =>"max-width: 50px; max-height: 50px;" %>
          </ul>
          <% end %>
          <!--  <% if !user_signed_in? %>
              <li>
                 <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
              </li>
           
              <li>
                 <%= link_to('Register', register_path)  %>
              </li>
           <% end %> -->
        </div><!--/.nav-collapse -->
      </div><!--end of container -->
    </nav>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

   <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">
          <h1>Login to Your Account</h1><br>
                  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: false, autofocus: true %>
            <%= f.input :password, required: false %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          


  <div class="login-help">
    <%= f.button :submit, "Log in",:class =>"login loginmodal-submit" %>
  </div>
<% end %>
         
        </div>
      </div>
      </div>


<%= yield %>

</body>
</html>
<!-- 
end of container -->


