<!DOCTYPE html>
<html>
<head>
  <meta name="description" property="og:description" content="<%= if content_for?(:description) then yield(:description) end %>">
  <meta property="og:image" content="<%= if content_for?(:image_url) then yield(:image_url) end %>">
  <title>
    <%= if content_for?(:title) && !content_for?(:news_title) then yield(:title) + ' - 
    Visualnoveler' else yield(:news_title) end %>
  </title>
  <%= if content_for?(:twitter_tags) then yield(:twitter_tags) end %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
              <% if user_signed_in? %>
          <% if current_user.admin? || current_user.mod? || current_user.writer? %> 
         <ul class ="nav navbar-nav logo-dropdown">
            <li class="dropdown">   
          <a class="navbar-brand" data-toggle="dropdown" class="dropdown-toggle" href=<%= vns_path %>>Visualnoveler</a>
              <ul class="dropdown-menu">
                  <li class="dropdown-header">Dashboard</li>
                  <li><%= link_to "Home", vns_path %></li>
                  <li><%= link_to "Visual Novel listings", admin_vn_path %></li>
                  <li><%= link_to "Character listings", admin_character_path %></li>
                  <li><%= link_to "Developer listings", admin_developer_path %></li>
                  <li><%= link_to "Publisher listings", admin_publisher_path %></li>
                  <li><%= link_to "Genre listings", admin_genre_path %></li>
                  <li><%= link_to "User listings", admin_users_path %></li>
                  <li><%= link_to "Screenshot listings", admin_screenshot_path %></li>
                  <li><%= link_to "Reviews listings", admin_review_path %></li>
                  <li><%= link_to "Franchise listings", admin_franchise_path %></li>
                  <li><%= link_to "Translation Update listings", admin_translation_path %></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Creation</li>
                  <li><%= link_to "Create Visual Novel", new_vn_path %></li>
                  <li><%= link_to "Create News", new_news_path,'data-no-turbolink' =>"true" %></li>
                  <li><%= link_to "Create Character", new_character_path %></li>
                  <li><%= link_to "Create Developer", new_developer_path %></li>
                  <li><%= link_to "Create Publisher", new_publisher_path %></li>
                  <li><%= link_to "Create Genre", new_genre_path %></li>
                  <li><%= link_to "Create Franchise", new_franchise_path %></li>
              </ul>
           </li>
         </ul> 
         <% else %>
          <a class="navbar-brand" href=<%= vns_path %>>Visualnoveler</a>
         <% end %> 

         <% else %>
             <a class="navbar-brand" href=<%= vns_path %>>Visualnoveler</a>
         <% end %>
        </div> <!-- navbar header !-->
      <div id="navbar" class="navbar-collapse collapse">
         <ul class ="nav navbar-nav">
            <li class="dropdown logotitle-dropdown ">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle button-nav"><span class="logotitle">Visual Novels</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><%= link_to "Featured Visual Novels", vns_path %></li>
                  <li><%= link_to "Top Visual Novels", top_vns_path %></li>
                  <li><%= link_to "Translated Visual Novels", translated_vns_path %></li>
                  <li><%= link_to "VN Walkthroughs", walkthroughs_vns_path %></li>
              </ul>
            </li>

            <li class="dropdown logotitle-dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle button-nav"><span class="logotitle">Discover</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><%= link_to 'Visual Novels', discover_vns_path %></li>
                  <li><%= link_to 'Translation Status', translations_path %></li>
                  <li><%= link_to 'Genres', genres_path  %></li>
                  <li><%= link_to 'Developer',developers_path %></li>
                  <li><%= link_to 'Users', users_path %></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">News</li>
                  <li><%= link_to "Development Blog", tag_path("blog") %></li>
              </ul>
            </li>
             <li class="logotitle-dropdown" style="padding-top:5px;"> 
                <%= link_to 'News',news_index_path,class: "logotitle",style:"color:black;" %> 
              </li>
            <li class="dropdown logotitle-dropdown">
               <a href="http://forums.visualnoveler.com" class="button-nav"><span class="logotitle">Forums</span></a> 
             </li>
           
            <!-- <li class="logotitle-dropdown">
             <a href=<%= about_path %> class="button-nav"><span class="logotitle">About</span> </a>
           </li> -->

            <% if !user_signed_in? %>
            
            <% end %>
         </ul>

         <ul class="nav navbar-nav navbar-right"> 
          <% if user_signed_in? %>
              <li class="dropdown pull-right-nav">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle dropdown-avatar">
                  <div class="nav-user">
                    <span class="usernav-name"><%= current_user.name %></span>
                    <b class="caret usernav-name"></b>
                  </div>
                </a>
                <% if current_user.poster_image.blank? %>
                  <%= image_tag("default_avatar.jpg",:class => "pull-right-nav",:style =>"max-width: 60px; max-height: 60px;margin-left:8px;")  %>
               <% else %>
                  <%= image_tag("#{current_user.poster_image.url}",:class => "pull-right-nav",:style =>"max-width: 60px; max-height: 60px;margin-left:8px;")  %>
               <% end %>
                <ul class="dropdown-menu">
                    <li><%= link_to "My Profile", user_path(current_user) %></li>
                    <li><%= link_to "Edit Profile", edit_path %></li>
                    <li><%= link_to "My Library", library_user_path(current_user) %></li>
                    <!-- <li><%= link_to "Crop Profile Picture", crop_user_path(current_user) %></li> !-->
                    <li><%= link_to "Logout", logout_path, :method => :delete %></li>    
                </ul>
             </li>
          <% else %>
            <li class ="logotitle-dropdown">
               <a href="#" class="button-nav" data-toggle="modal" data-target="#login-modal"><span class="logotitle">Login</span> </a>
            </li>
            <li class ="logotitle-dropdown">
               <a href=<%= register_path %> class="button-nav"><span class="logotitle">Register</span> </a>
            </li>
          <% end %>
          </ul>
        
        
           <div class="input-group" id="custom-search-input">
            <!-- typeahead !-->
             <%= form_tag(search_path, :method => "get", class: "navbar-form", id: "search-form" ) do %>
                <%= text_field_tag :search, params[:search], class: "form-control search-query typeahead", placeholder: "Search Visual Novels" %>
                <div class="input-group-btn">
                  <%= button_tag(type: "submit", class: "btn") do %>
                    <span class=" glyphicon glyphicon-search"></span>
                  <% end %>
                </div>
             <% end %>
           </div>
          </div> <!-- navbar id !-->
      </div><!--end of container -->
    </nav> <!-- end of nav !-->

      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
         
<%= render :partial => "announcements/starburst/announcement_bootstrap" %>
  <div id="content">
    <%= yield %>
  </div>
<%= render 'layouts/footer' %>
</div>
<!-- end of footer !-->

  <%= render 'layouts/login_modal' %>
  
</body>
</html>


