<!DOCTYPE html>
<html>
<head>
  <title>Visualnoveler</title>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= favicon_link_tag %>

 <div class="container-fullwidth">
   <nav class="navbar navbar-default">
      <div class="container-fullwidth">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span class="navLogo">Visualnoveler</span></a>
        </div>
      <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           <a class="navbar-brand" href=<%= new_vn_path %>><span class="logotitle">Create VN</span></a>
            <a class="navbar-brand" href=<%= new_character_path %>><span class="logotitle">Create   Character</span></a>
           <a class="navbar-brand" href=<%= new_genre_path %>><span class="logotitle">Create Genre</span></a>
           <a class="navbar-brand" href=<%= new_developer_path %>><span class="logotitle">Create Developer</span></a>
           <% if user_signed_in? %>
           
              <%= link_to('Logout', logout_path,:style =>"color:black;",:class =>"navbar-brand", :method => :delete) %>        
              <%= link_to "Change your password", edit_path, :style =>"color:black;",:class =>"navbar-brand" %>
           
             <%= link_to current_user.name,user_path(current_user),:style =>"color:black;",:class =>"navbar-brand" %>
             
        
          <% else %>
              <li>
                 <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
              </li>
           
              <li>
                 <%= link_to('Register', register_path)  %>
              </li>
           <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--end of container -->
    </nav>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
</div><!--end first container -->

   <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">
          <h1>Login to Your Account</h1><br>
                  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: false, autofocus: true %>
            <%= f.input :password, required: false %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          


  <div class="login-help">
    <%= f.button :submit, "Log in",:class =>"login loginmodal-submit" %>
  </div>
<% end %>
         
        </div>
      </div>
      </div>


<%= yield %>

</body>
</html>
<!-- 
end of container -->


