<!DOCTYPE html>
<html>
<head>
 <title>
    <%= if content_for?(:title) && !content_for?(:news_title) then yield(:title)  else yield(:news_title) end %>
  </title>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<!--   <meta property="og:image" content=<%= asset_path("ascendant-hearts/main.jpg") %>> -->

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="description" content="Details coming soon...">
</head>
<body style="background-color:white;">


<section id="destiny-chronicles">

<%= yield %>

</section>
</body>
</html>
<!-- 
end of container -->


