<!DOCTYPE html>
<html>
<head>
  <title>Visualnoveler - Track and Discover Visual Novels</title>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="description" content="Visualnoveler is a place for fans of Visual Novels to track and discover other Visual Novels">
</head>
<body>

<div class="container" style="margin-top:25px;">

      <!-- Static navbar -->
      <nav class="navbar navbar-transparent" style="z-index:1;">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=<%= vns_path %>><span class="navLogo-home">Visualnoveler</span></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to 'Visual Novels', vns_path,:class=>"landing-navitems" %></li>
              <li><%= link_to 'About', pages_about_path ,:class=>"landing-navitems" %></li>
              <li><%= link_to 'Blog', 'http://blog.visualnoveler.com' ,:class=>"landing-navitems" %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% unless user_signed_in? %>
                <li><%= link_to 'Login', '#', :class =>"ghost-button-white landing-button default-font", style:"margin-right:10px;", 'data-toggle' =>"modal", 'data-target'=>"#login-modal" %></li>
                <li><%= link_to 'Register', register_path, :class =>"ghost-button-white landing-button default-font" ,:style =>"margin-left:10px;" %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
  <%= favicon_link_tag %>

 
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">
          <h1>Login to Your Account</h1><br>
                  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: false, autofocus: true %>
            <%= f.input :password, required: false %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          
  <div class="login-help">
    <%= f.button :submit, "Log in",:class =>"login loginmodal-submit" %>
      <%= link_to 'Register', register_path,:class =>"links" %> - <%= link_to 'Forgot Password',new_user_password_path,:class =>'links' %>
      <br><br>

    <ul class="list-inline">
      <li><%= link_to omniauth_authorize_path(:user,"facebook"),class: 'btn btn-facebook' do %>
       <span class="fa fa-facebook" style="padding-right:2px;"></span>
       <%= "Facebook" %>
      <% end %></li>

      <li><%= link_to omniauth_authorize_path(:user,"google_oauth2"),class: 'btn btn-googleauth' do %>
     <span class="fa fa-google" style="padding-right:2px;"></span>
     <%= "Google" %>
      <% end %> </li>
    </ul>
  </div>
<% end %> 
         
        </div>
      </div>
 </div><!--end of modal !-->



<%= yield %>

</body>
</html>
<!-- 
end of container -->


