<!DOCTYPE html>
<html>
<head>
  <title>Visualnoveler - Track and Discover Visual Novels</title>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 <meta name="description" content="Visualnoveler is a place for fans of Visual Novels to track and discover other Visual Novels">
</head>
<body>

  <%= favicon_link_tag %>

 
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>



<%= yield %>

</body>
</html>
<!-- 
end of container -->


