<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="<%= if content_for?(:description) then yield(:description) else 'Start tracking and discovering other visual novels at Visualnoveler with a growing community.' end %>">

  <title>
    <%= if content_for?(:title) then yield(:title) + ' - ' end %>
    Visualnoveler
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
    <%= yield %>

<!-- end of footer !-->


  
</body>
</html>


